<main id="main" class="main">

  <div class="pagetitle">
    <h1>Cloud COmputing</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Classroom</li>
        <li class="breadcrumb-item active">Cloud COmputing</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-8">



        <div class="card">
          <div class="card-body pt-3">


            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-home"
                  type="button" role="tab" aria-controls="home" aria-selected="true">Stream</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-profile"
                  type="button" role="tab" aria-controls="profile" aria-selected="false">People</button>
              </li>
            
            </ul>
            <div class="tab-content pt-2" id="borderedTabContent">
              <div class="tab-pane fade show active" id="bordered-home" role="tabpanel" aria-labelledby="home-tab">






                <div class="row align-items-top pb-3">
                  <div class="col-lg-12 pt-3">

                    <div class="card mb-3">
                      <div class="row g-0">

                        <div class="col-md-12">
                          <div class="card-body">
                            <h5 class="card-title">Etcd Assignmenrt</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                              additional content. This content is a little bit longer.</p>
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="card mb-3">
                      <div class="row g-0">

                        <div class="col-md-12">
                          <div class="card-body">
                            <h5 class="card-title">Etcd Assignmenrt</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                              additional content. This content is a little bit longer.</p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="card mb-3">
                      <div class="row g-0">

                        <div class="col-md-12">
                          <div class="card-body">
                            <h5 class="card-title">Etcd Assignmenrt</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                              additional content. This content is a little bit longer.</p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="card mb-3">
                      <div class="row g-0">

                        <div class="col-md-12">
                          <div class="card-body">
                            <h5 class="card-title">Etcd Assignmenrt</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                              additional content. This content is a little bit longer.</p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="card mb-3">
                      <div class="row g-0">

                        <div class="col-md-12">
                          <div class="card-body">
                            <h5 class="card-title">Etcd Assignmenrt</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                              additional content. This content is a little bit longer.</p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="card mb-3">
                      <div class="row g-0">

                        <div class="col-md-12">
                          <div class="card-body">
                            <h5 class="card-title">Etcd Assignmenrt</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                              additional content. This content is a little bit longer.</p>
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="card mb-3">
                      <div class="row g-0">

                        <div class="col-md-12">
                          <div class="card-body">
                            <h5 class="card-title">Etcd Assignmenrt</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                              additional content. This content is a little bit longer.</p>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

             

                </div>





              </div>
              <div class="tab-pane fade" id="bordered-profile" role="tabpanel" aria-labelledby="profile-tab">



                <h5 class="card-title">Table with stripped rows</h5>

                <!-- Table with stripped rows -->
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Position</th>
                      <th scope="col">Age</th>
                      <th scope="col">Start Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Brandon Jacob</td>
                      <td>Designer</td>
                      <td>28</td>
                      <td>2016-05-25</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Bridie Kessler</td>
                      <td>Developer</td>
                      <td>35</td>
                      <td>2014-12-05</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Ashleigh Langosh</td>
                      <td>Finance</td>
                      <td>45</td>
                      <td>2011-08-12</td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td>Angus Grady</td>
                      <td>HR</td>
                      <td>34</td>
                      <td>2012-06-11</td>
                    </tr>
                    <tr>
                      <th scope="row">5</th>
                      <td>Raheem Lehner</td>
                      <td>Dynamic Division Officer</td>
                      <td>47</td>
                      <td>2011-04-19</td>
                    </tr>
                  </tbody>
                </table>
                <!-- End Table with stripped rows -->





              </div>
           
            </div><!-- End Bordered Tabs -->

          </div>
        </div>



      </div>

      <div class="col-lg-4">


        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Cloud Computing</h5>
            <h6 class="card-subtitle mb-2 text-muted">Professor</h6>
            <p>John Doe</p>


            <h6 class="card-subtitle mb-2 text-muted">Description</h6>
            <p>This is an examle page with no contrnt. You can use it as a starter for your custom pages.
            </p>


            <h6 class="card-subtitle mb-2 text-muted">Section</h6>
            <p>CS</p>


            <h6 class="card-subtitle mb-2 text-muted">Subject</h6>
            <p>OS</p>

            <h6 class="card-subtitle mb-2 text-muted">Code</h6>
            <p>cEjYa</p>

          </div>


        </div>
        <section class="section dashboard">
          <div class="row">
      
            <!-- Left side columns -->
            <div class="col-lg-8">
              <div class="row">
      
        
              </div>
            </div><!-- End Left side columns -->
      
            <!-- Right side columns -->
          
      
              <!-- Recent Activity -->
              <div class="card">
               
      
                <div class="card-body">
                  <h5 class="card-title">Upcoming</h5>
      
                  <div class="activity">
      
                    <div class="activity-item d-flex">
                      <div class="activite-label">32 min</div>
                      <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                      <div class="activity-content">
                        Quia quae rerum <a href="#" class="fw-bold text-dark">explicabo officiis</a> beatae
                      </div>
                    </div><!-- End activity item-->
      
                    <div class="activity-item d-flex">
                      <div class="activite-label">56 min</div>
                      <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                      <div class="activity-content">
                        Voluptatem blanditiis blanditiis eveniet
                      </div>
                    </div><!-- End activity item-->
      
                    <div class="activity-item d-flex">
                      <div class="activite-label">2 hrs</div>
                      <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                      <div class="activity-content">
                        Voluptates corrupti molestias voluptatem
                      </div>
                    </div><!-- End activity item-->
      
                    <div class="activity-item d-flex">
                      <div class="activite-label">1 day</div>
                      <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                      <div class="activity-content">
                        Tempore autem saepe <a href="#" class="fw-bold text-dark">occaecati voluptatem</a> tempore
                      </div>
                    </div><!-- End activity item-->
      
                    <div class="activity-item d-flex">
                      <div class="activite-label">2 days</div>
                      <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
                      <div class="activity-content">
                        Est sit eum reiciendis exercitationem
                      </div>
                    </div><!-- End activity item-->
      
                    <div class="activity-item d-flex">
                      <div class="activite-label">4 weeks</div>
                      <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
                      <div class="activity-content">
                        Dicta dolorem harum nulla eius. Ut quidem quidem sit quas
                      </div>
                    </div><!-- End activity item-->
      
                  </div>
      
                </div>
              </div><!-- End Recent Activity -->
      
         
       
          </div>
        </section>
      
        
      </div>
    </div>
  </section>



  
</main><!-- End #main -->