<main id="main">


  <!-- ======= Blog Section ======= -->
  <section id="blog" class="blog">
    <div class="container">

      <div class="row g-5">

        <div class="col-lg-8">

          <div class="row gy-4 posts-list">
            <div class="read-more mt-auto align-self-end">
              <a routerLink="/classroom/124/assignment/create">Creaate New </a>
            </div>


            <div class="col-lg-6">
              <article class="d-flex flex-column">


                <div class="read-more mt-auto align-self-start">
                  <a [routerLink]="classroomPath">Detail</a>
                </div>

                <h2 class="title">
                  <a [routerLink]="classroomPath">Two Sum
                    quia</a>
                </h2>

                <div class="meta-top">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a
                      [routerLink]="classroomPath"><time datetime="2022-01-01">Jan 1, 2022</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-people"></i> <a href="blog-details.html">12
                      Submitted </a></li>
                  </ul>
                </div>

                <div class="content">

                </div>

                <div class="read-more mt-auto align-self-start">
                  <a class="align-self-start" [routerLink]="['/classroom/4234/assignment/123/editor']">Editor</a>
                </div>


              </article>
            </div><!-- End post list item -->

            <div class="col-lg-6">
              <article class="d-flex flex-column">

                <div class="read-more mt-auto align-self-start">
                  <a [routerLink]="classroomPath">Detail</a>
                </div>


                <h2 class="title">
                  <a [routerLink]="classroomPath">Add Two Numbers</a>
                </h2>

                <div class="meta-top">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a
                      [routerLink]="classroomPath"><time datetime="2022-01-01">Jan 1, 2022</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-people"></i> <a href="blog-details.html">12
                      Submitted </a></li>
                  </ul>
                </div>

                <div class="content">

                </div>

                <div class="read-more mt-auto align-self-start">
                  <a class="align-self-start" [routerLink]="['/classroom/4234/assignment/123/editor']">Editor</a>
                </div>


              </article>
            </div><!-- End post list item -->

            <div class="col-lg-6">
              <article class="d-flex flex-column">


                <div class="read-more mt-auto align-self-start">
                  <a [routerLink]="classroomPath">Detail</a>
                </div>

                <h2 class="title">
                  <a [routerLink]="classroomPath">Permutations II</a>
                </h2>

                <div class="meta-top">
                  <ul>

                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a
                        [routerLink]="classroomPath"><time datetime="2022-01-01">Jan 1, 2022</time></a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-people"></i> <a href="blog-details.html">12
                        Submitted </a></li>
                  </ul>
                </div>

                <div class="content">

                </div>

                <div class="read-more mt-auto align-self-start">
                  <a class="align-self-start" [routerLink]="['/classroom/4234/assignment/123/editor']">Editor</a>
                </div>


              </article>
            </div><!-- End post list item -->

            <div class="col-lg-6">
              <article class="d-flex flex-column">

                <div class="read-more mt-auto align-self-start">
                  <a [routerLink]="classroomPath">Detail</a>
                </div>


                <h2 class="title">
                  <a [routerLink]="classroomPath">Integer to Roman.</a>
                </h2>

                <div class="meta-top">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a
                      [routerLink]="classroomPath"><time datetime="2022-01-01">Jan 1, 2022</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-people"></i> <a href="blog-details.html">12
                      Submitted </a></li>
                  </ul>
                </div>

                <div class="content">

                </div>

                <div class="read-more mt-auto align-self-start">
                  <a class="align-self-start" [routerLink]="['/classroom/4234/assignment/123/editor']">Editor</a>
                </div>


              </article>
            </div><!-- End post list item -->

            <div class="col-lg-6">
              <article class="d-flex flex-column">


                <div class="read-more mt-auto align-self-start">
                  <a [routerLink]="classroomPath">Detail</a>
                </div>
                <h2 class="title">
                  <a [routerLink]="classroomPath">Remove Nth Node From End of List</a>
                </h2>

                <div class="meta-top">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a
                      [routerLink]="classroomPath"><time datetime="2022-01-01">Jan 1, 2022</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-people"></i> <a href="blog-details.html">12
                      Submitted </a></li>
                  </ul>
                </div>

                <div class="content">

                </div>

                <div class="read-more mt-auto align-self-start">
                  <a class="align-self-start" [routerLink]="['/classroom/4234/assignment/123/editor']">Editor</a>
                </div>


              </article>
            </div><!-- End post list item -->

            <div class="col-lg-6">
              <article class="d-flex flex-column">

                <div class="read-more mt-auto align-self-start">
                  <a [routerLink]="classroomPath">Detail</a>
                </div>

                <h2 class="title">
                  <a [routerLink]="classroomPath">Remove Duplicates from Sorted Array</a>
                </h2>

                <div class="meta-top">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a
                      [routerLink]="classroomPath"><time datetime="2022-01-01">Jan 1, 2022</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-people"></i> <a href="blog-details.html">12
                      Submitted </a></li>
                  </ul>
                </div>

                <div class="content">

                </div>

                <div class="read-more mt-auto align-self-start">
                  <a class="align-self-start" [routerLink]="['/classroom/4234/assignment/123/editor']">Editor</a>
                </div>

              </article>
            </div><!-- End post list item -->

            <div class="col-lg-6">
              <article class="d-flex flex-column">


                <div class="read-more mt-auto align-self-start">
                  <a [routerLink]="classroomPath">Detail</a>
                </div>

                <h2 class="title">
                  <a [routerLink]="classroomPath">Divide Two Integers</a>
                </h2>

                <div class="meta-top">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a
                      [routerLink]="classroomPath"><time datetime="2022-01-01">Jan 1, 2022</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-people"></i> <a href="blog-details.html">12
                      Submitted </a></li>
                  </ul>
                </div>

                <div class="content">

                </div>

                <div class="read-more mt-auto align-self-start">
                  <a class="align-self-start" [routerLink]="['/classroom/4234/assignment/123/editor']">Editor</a>
                </div>


              </article>
            </div><!-- End post list item -->

          </div><!-- End blog posts list -->

          <div class="blog-pagination">
            <ul class="justify-content-center">
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
            </ul>
          </div><!-- End blog pagination -->

        </div>

        <div class="col-lg-4">

          <div class="sidebar">



            <div class="portfolio-info">
              <h3>Classroom Name</h3>

              <hr>
              <ul>
                <li><strong>Section</strong>: Cloud Computing</li>
                <li><strong>Subject</strong>: AWS</li>
                <li><strong>Room</strong>: A2</li>
                <li><strong>Code</strong>: cEjyA</li>

              </ul>
            </div>

            <hr>



            <div class="sidebar-item recent-posts">
              <h3 class="sidebar-title">Students</h3>

              <div class="mt-3">

                <div class="post-item mt-3">

                  <div id="comment-1" class="comment">
                    <div class="d-flex">

                      <div>
                        <h5>Ava Johnson<a href="#" class="float-right"><i class="bi bi-trash"></i></a></h5>
                        <time>ava.johnson@example.com</time>

                      </div>
                    </div>
                  </div><!-- End comment #1 -->
                </div><!-- End recent post item-->

                <div class="post-item mt-3">

                  <div id="comment-1" class="comment">
                    <div class="d-flex">

                      <div>
                        <h5>Benjamin Lee<a href="#" class="float-right"><i class="bi bi-trash"></i></a></h5>
                        <time>Benjamin Lee</time>

                      </div>
                    </div>
                  </div><!-- End comment #1 -->
                </div><!-- End recent post item-->
                <div class="post-item mt-3">

                  <div id="comment-1" class="comment">
                    <div class="d-flex">

                      <div>
                        <h5>Sophia Martinez<a href="#" class="float-right"><i class="bi bi-trash"></i></a></h5>
                        <time>sophia.martinez@samplemail.com</time>
                      </div>
                    </div>
                  </div><!-- End comment #1 -->
                </div><!-- End recent post item-->
                <div class="post-item mt-3">

                  <div id="comment-1" class="comment">
                    <div class="d-flex">

                      <div>
                        <h5>Oliver Wang<a href="#" class="float-right"><i class="bi bi-trash"></i></a></h5>
                        <time>oliverw@examplemail.com</time>

                      </div>
                    </div>
                  </div><!-- End comment #1 -->
                </div><!-- End recent post item-->
                <div class="post-item mt-3">

                  <div id="comment-1" class="comment">
                    <div class="d-flex">

                      <div>
                        <h5>Emily Rodriguez<a href="#" class="float-right"><i class="bi bi-trash"></i></a></h5>
                        <time>emily.r@example.net</time>

                      </div>
                    </div>
                  </div><!-- End comment #1 -->
                </div><!-- End recent post item-->



              </div>

            </div><!-- End sidebar recent posts-->


          </div><!-- End Blog Sidebar -->

        </div>

      </div>

    </div>
  </section><!-- End Blog Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

  <div class="footer-content">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>HeroBiz</h3>
            <p>
              A108 Adam Street <br>
              NY 535022, USA<br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Web Design</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Web Development</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Product Management</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Graphic Design</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Our Newsletter</h4>
          <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Subscribe">
          </form>

        </div>

      </div>
    </div>
  </div>