<main id="main" class="main">

  <div class="pagetitle">
    <h1>Cloud COmputing</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Classroom</li>
        <li class="breadcrumb-item active">Cloud COmputing</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

     

        <div class="card">
          <div class="card-body pt-3">
           

            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-home" type="button" role="tab" aria-controls="home" aria-selected="true">Stream</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-profile" type="button" role="tab" aria-controls="profile" aria-selected="false">People</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Grades</button>
              </li>
            </ul>
            <div class="tab-content pt-2" id="borderedTabContent">
              <div class="tab-pane fade show active" id="bordered-home" role="tabpanel" aria-labelledby="home-tab">
               





                    <div class="row align-items-top pb-3">
                      <div class="col-lg-6 pt-3">
              
                        <div class="card mb-3">
                          <div class="row g-0">
                          
                            <div class="col-md-12">
                              <div class="card-body">
                                <h5 class="card-title">Etcd Assignmenrt</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                              </div>
                            </div>
                          </div>
                        </div>
              
                       
                        <div class="card mb-3">
                          <div class="row g-0">
                          
                            <div class="col-md-12">
                              <div class="card-body">
                                <h5 class="card-title">Etcd Assignmenrt</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                              </div>
                            </div>
                          </div>
                        </div>
              
                     
                        <div class="card mb-3">
                          <div class="row g-0">
                          
                            <div class="col-md-12">
                              <div class="card-body">
                                <h5 class="card-title">Etcd Assignmenrt</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                              </div>
                            </div>
                          </div>
                        </div>
              
                      </div>
              
                      <div class="col-lg-3">
              
                        <!-- Card with an image on top -->
                        <div class="card">
                          <img src="assets/img/card.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Card with an image on top</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                        </div><!-- End Card with an image on top -->
              
                        <!-- Card with an image on bottom -->
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Card with an image on bottom</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                          <img src="assets/img/card.jpg" class="card-img-bottom" alt="...">
                        </div><!-- End Card with an image on bottom -->
              
                      </div>
              
                      <div class="col-lg-3">
              
                        <!-- Card with an image overlay -->
                        <div class="card">
                          <img src="assets/img/card.jpg" class="card-img-top" alt="...">
                          <div class="card-img-overlay">
                            <h5 class="card-title">Card with an image overlay</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                        </div><!-- End Card with an image overlay -->
              
                        <!-- Card with titles, buttons, and links -->
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Card with titles, buttons, and links</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <p class="card-text"><a href="#" class="btn btn-primary">Button</a></p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                          </div>
                        </div><!-- End Card with titles, buttons, and links -->
              
                        <!-- Special title treatmen -->
                        <div class="card text-center">
                          <div class="card-header">
                            <ul class="nav nav-pills card-header-pills">
                              <li class="nav-item">
                                <a class="nav-link active" href="#">Active</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                              </li>
                            </ul>
                          </div>
                          <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                          </div>
                        </div><!-- End Special title treatmen -->
              
                      </div>
              
                    </div>
             




              </div>
              <div class="tab-pane fade" id="bordered-profile" role="tabpanel" aria-labelledby="profile-tab">
                Nesciunt totam et. Consequuntur magnam aliquid eos nulla dolor iure eos quia. Accusantium distinctio omnis et atque fugiat. Itaque doloremque aliquid sint quasi quia distinctio similique. Voluptate nihil recusandae mollitia dolores. Ut laboriosam voluptatum dicta.
              </div>
              <div class="tab-pane fade" id="bordered-contact" role="tabpanel" aria-labelledby="contact-tab">
                Saepe animi et soluta ad odit soluta sunt. Nihil quos omnis animi debitis cumque. Accusantium quibusdam perspiciatis qui qui omnis magnam. Officiis accusamus impedit molestias nostrum veniam. Qui amet ipsum iure. Dignissimos fuga tempore dolor.
              </div>
            </div><!-- End Bordered Tabs -->

          </div>
        </div>

   

      </div>


    </div>
  </section>

</main><!-- End #main -->
