<main id="main" class="main">
  <!-- 
  <div class="pagetitle">
    <h1>Syndicate {{id}} </h1>
 
  </div> -->
  <div class="parent">
    <div class="smolchild">
      <h3>Title: {{ id }}</h3>
    </div>

    <div class="smolchild">

      <form [formGroup]="languageForm" class="form-inline">
        <div class="col-sr-6">
        <select formControlName="selectedLanguage" id="languageSelect" class="form-control mr-2">
          <option value="">Select Language</option>
          <option *ngFor="let language of languages" [value]="language.id">{{ language.name }} ({{language.version}})</option>
        </select>
      </div>
      <div class="mx-2">
        <button type="button" class="btn btn-primary mr-2" (click)="onSubmit()">Submit</button>
      </div>
      <div class="mx-2">
        <button type="button" class="btn btn-secondary" (click)="onTestRun()">Test Run</button>
      </div>
      </form>

     

     
     
     
      
    </div>

    <div class="child">
      <div [innerHTML]="description"></div>
      <div class="add-cases-form" [formGroup]="above">
        <h1>Test Run:</h1>
      
         
          <div class="row mb-3">
            <div class="col-sm-12">
              <textarea  formControlName="input"
              placeholder="Input" class="form-control" style="height: 100px"></textarea>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-12">
              <textarea     formControlName="output"
              placeholder="OutPut" class="form-control" style="height: 100px"></textarea>
            </div>
          </div>
       


        <br />
        <p>{{ responseOutput | json }}</p>
      </div>
    </div>
    <div class="child">
      <button (click)="updateOptions()">Change Language</button>
      <button (click)="code = ''; codeInput = ''">
        Set Value To Empty String
      </button>
      <button (click)="code = null; codeInput = null">Set Value To Null</button>
      <button (click)="code = undefined; codeInput = undefined">
        Set Value To undefined
      </button>

      <div>
        <ngx-monaco-editor
          class="template-editor"
          [options]="options"
          [(ngModel)]="code"
          (onInit)="onInit($event)"
        ></ngx-monaco-editor>
      </div>

      <ngx-monaco-editor
        class="template-editor"
        *ngIf="showMultiple"
        [options]="options"
        [(ngModel)]="code"
      ></ngx-monaco-editor>

      <pre>{{ code | json }}</pre>
    </div>
  </div>
</main>
