<app-side-bar></app-side-bar>
<main id="main" class="main">
    <div class="pagetitle">
      <h1>Test Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div>
    <!-- End Page Title -->
    <div class="pagetitle">
      <h1>Questions</h1>
     
    </div>
    <button type="button" class="btn btn-primary" [routerLink]="['/teacher/classroom', classroomId, 'test', testId, 'question', 'new']">
        Add Question
      </button>
    <section class="section dashboard">
      <div class="row">
        <div class="col-lg-12 mb-3" style="overflow-x: auto">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Difficulty</th>
                        <th scope="col">Total Test Cases</th>
                        <th scope="col">Total Marks</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let question of codingQuestions">
                        <td>{{ question.title }}</td>
                        <td>{{ question.difficulty }}</td>
                        <td>{{ question.totalTestCases }}</td>
                        <td>{{ question.totalMarks }}</td>
                        <td>
                            <a [routerLink]="['/CodingQuestion', question.title]">
                                <button type="button" class="btn btn-secondary">
                                    <i class="bi bi-pen"></i>
                                </button>
                            </a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" (click)="deleteQuestion(question.title)">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        
  
          
          
        
      </div>
    </section>
  </main>
  