
<main>
    <div class="container">
        <section
            class="section home-page min-vh-100 d-flex flex-column align-items-center justify-content-center"
        >
            <h1>.xphyrus</h1>
            <h2>Cloud-Native based Online Assessment Platform</h2>
            <a class="btn btn-primary btn-block mb-3" href="/help">Learn More</a>
           
            <div class="credits">
                Created by <a href="https://github.com/arya2004">arya2004</a>
            </div>
        </section>
        <div class="container">
          <div class="row">
            <div class="col-md-6 mx-auto">
              <div class="text-center">
                <a class="btn btn-primary btn-block mb-3" href="/account/login">Login</a>
                <a class="btn btn-success btn-block mb-3" href="/account/register">Sign Up</a>
                <a class="btn btn-info btn-block mb-3" href="/a/123s-4534-534-534">Assessment</a>
                <a class="btn btn-warning btn-block mb-3" href="/a/123s-4534-534-534/editor">Editor</a>
                <a class="btn btn-secondary btn-block mb-3" href="/Syndicate/123">Detailed</a>
                <a class="btn btn-dark btn-block" href="/Syndicate/">Nexus Index</a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </main>
  
    
   
    
  
  
  