<app-side-bar></app-side-bar>
<main id="main" class="main">
    <div class="pagetitle">
      <h1>Nexus</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div>
    <!-- End Page Title -->
    <div class="pagetitle">
      <h1>My Nexus</h1>
    </div>
   
    <section class="section dashboard">
      <div class="row">
        <div class="col-lg-6 mb-3" style="overflow-x: auto">
          <table
            datatable
            [dtOptions]="dtOptions"
            [dtTrigger]="dtTrigger"
            class="table table-striped"
          >
            <thead>
              <tr>
            
                <th scope="col">Title</th>
                <th scope="col">Position</th>
             
                <th scope="col">Location</th>
                <th scope="col">Date</th>
                <th scope="col">Hired?</th>
              
  
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of nexus">
                
                <td>{{ c.description }}</td>
                <td>Intern</td>
               
                <td>baner, Pune</td>
                <td>{{ c.creationDate}}</td>
                <td>No</td>
              
  
                <td>
                  <a routerLink="/Syndicate/{{ c.nexusId }}">
                    <button type="button" class="btn btn-secondary"><i class="bi bi-pen"></i></button>
                  </a>
                </td>
                <td>
                  <!-- Disabled Backdrop Modal -->
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="deleteCompany(c.nexusId)"
                  >
                  <i class="bi bi-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
  
        <div class="col-lg-6">
          <!-- Recent Activity -->
          <div class="card">
           
  
            <div class="card-body pb-0">
              <h5 class="card-title">Create <span>| New</span></h5>
  
              <form [formGroup]="nexusForm" class="needs-validation" (ngSubmit)="onNewNexusCreate()">
               
                <div class="card-body">
               
    
                  <ul class="nav nav-pills mb-3 d-flex" id="pills-tab" role="tablist">
                    <li class="nav-item flex-fill" role="presentation">
                      <button class="nav-link active w-100" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">JD</button>
                    </li>
                    <li class="nav-item flex-fill" role="presentation">
                      <button class="nav-link  w-100" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Location</button>
                    </li>
                    <li class="nav-item flex-fill" role="presentation">
                      <button class="nav-link  w-100" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Salary & Equity</button>
                    </li>
                  </ul>
                  <div class="tab-content pt-2" id="myTabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="home-tab">
                    


                      <div class="row mb-3 has-validation">
                        <label for="displlayname" class="col-md-4 col-lg-3 col-form-label">Title</label>
    
    
                        <div class="col-md-8 col-lg-9 input-Syndicate has-validation">
    
                          <input [class.is-invalid]="
                                nexusForm.get('title')?.touched &&
                                nexusForm.get('title')?.invalid
                              " formControlName="title" type="text" name="username" class="form-control"
                            id="yourUsername" required />
                          <div *ngIf="nexusForm.get('title')?.errors?.['required']"
                            class="invalid-feedback">
                            Title is required!
                          </div>
    
                        </div>
                      </div>

                     
                      <div class="row mb-3 has-validation">
                        <label for="displlayname" class="col-md-4 col-lg-3 col-form-label">Description</label>
    
    
                        <div class="col-md-8 col-lg-9 input-Syndicate has-validation">
    
                          <textarea [class.is-invalid]="
                                nexusForm.get('description')?.touched &&
                                nexusForm.get('description')?.invalid
                              " formControlName="description" type="text" name="username" class="form-control"
                            id="yourUsername" required ></textarea>
                          <div *ngIf="nexusForm.get('description')?.errors?.['required']"
                            class="invalid-feedback">
                            Description is required!
                          </div>
    
                        </div>
                      </div>
                    
                      <div class="row mb-3 has-validation">
                        <label for="displlayname" class="col-md-4 col-lg-3 col-form-label">Type of Position</label>
    
    
                        <div class="col-md-8 col-lg-9 input-Syndicate has-validation">
    
                          
                            <select [class.is-invalid]="
                            nexusForm.get('typeOfPosition')?.touched &&
                            nexusForm.get('typeOfPosition')?.invalid
                          "  class="form-select" id="typeOfPosition" formControlName="typeOfPosition" aria-label="Default select example" required>
                              <option *ngFor="let size of typeOfPositions" [value]="size.value">{{ size.viewValue }}</option>
                            </select>
                            <div *ngIf="nexusForm.get('typeOfPosition')?.errors?.['required']" class="invalid-feedback">
                              Type Of Position is required!
                            </div>
    
                        </div>
                      </div>

                      <div class="row mb-3 has-validation">
                        <label for="displlayname" class="col-md-4 col-lg-3 col-form-label">Primary Role</label>
    
    
                        <div class="col-md-8 col-lg-9 input-Syndicate has-validation">
    
                          <input [class.is-invalid]="
                                nexusForm.get('primaryRole')?.touched &&
                                nexusForm.get('primaryRole')?.invalid
                              " formControlName="primaryRole" type="text" name="username" class="form-control"
                            id="yourUsername"    />
                          
    
                        </div>
                      </div>

                   
                      <div class="row mb-5">
                        <label class="col-md-4 col-lg-3  col-form-label">Work Exp:  {{nexusForm.get('workExperience').value}} Years</label>
                        <div class="col-md-8 col-lg-9">
                          
                        
                          <div  >
                            <label for="customRange2" class="form-label"></label>
                            <input formControlName="workExperience" type="range" class="form-range" min="0" max="40" step="1" id="customRange2">
                          </div>
                        </div>
                      </div>

                      <div class="row mb-3 has-validation">
                        <label for="displlayname" class="col-md-4 col-lg-3 col-form-label">Skills</label>
    
    
                        <div class="col-md-8 col-lg-9 input-Syndicate has-validation">
    
                          <textarea formControlName="skills" type="text" name="username" class="form-control"
                            id="yourUsername" ></textarea>
                          
    
                        </div>
                      </div>
      
          
                    
                    
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="profile-tab">
                    
                    
                    
                      <div class="row mb-3 has-validation">
                        <label for="displlayname" class="col-md-4 col-lg-3 col-form-label">Location</label>
    
    
                        <div class="col-md-8 col-lg-9 input-Syndicate has-validation">
    
                          <input [class.is-invalid]="
                                nexusForm.get('location')?.touched &&
                                nexusForm.get('location')?.invalid
                              " formControlName="location" type="text" name="username" class="form-control"
                            id="yourUsername" required />
                          <div *ngIf="nexusForm.get('location')?.errors?.['required']"
                            class="invalid-feedback">
                            Location is required!
                          </div>
    
                        </div>
                      </div>

                      <fieldset class="row mb-3 has-validation">
                        <legend class="col-form-label col-sm-9 pt-0">Willing to Accept Applicants Who Need To Relocate</legend>
                        <div class="col-sm-3">
                          <div class="form-check">
                            <input checked [class.is-invalid]="
                            nexusForm.get('acceptApplicantsWhoNeedToRelocate')?.touched &&
                            nexusForm.get('acceptApplicantsWhoNeedToRelocate')?.invalid
                          " formControlName="acceptApplicantsWhoNeedToRelocate"  class="form-check-input" type="radio" name="acceptApplicantsWhoNeedToRelocate" id="gridRadios1" value="true" >
                            <label class="form-check-label" for="gridRadios1">
                              Yes
                            </label>
                          </div>
                          <div class="form-check">
                            <input  [class.is-invalid]="
                            nexusForm.get('acceptApplicantsWhoNeedToRelocate')?.touched &&
                            nexusForm.get('acceptApplicantsWhoNeedToRelocate')?.invalid
                          " formControlName="acceptApplicantsWhoNeedToRelocate" class="form-check-input" type="radio" name="acceptApplicantsWhoNeedToRelocate" id="gridRadios2" value="false">
                            <label class="form-check-label" for="gridRadios2">
                              No
                            </label>
                            <div *ngIf="nexusForm.get('acceptApplicantsWhoNeedToRelocate')?.errors?.['required']"
                            class="invalid-feedback">
                            This field is required!
                          </div>
                          </div>
                          
                        </div>
                      </fieldset>

                     
                      <div class="row mb-3">
                        <legend class="col-form-label col-sm-9 pt-0">Willing to Offer Relocation Assistance</legend>
                        <div class="col-sm-3">
      

                          <div class="form-check">
                            <input  formControlName="relocationAssistance" class="form-check-input" type="checkbox" id="gridCheck2" checked>
                            
                          </div>
      
                        </div>
                      </div>
                    
                    
                      <div class="row mb-3 has-validation">
                        <label for="displlayname" class="col-md-4 col-lg-3 col-form-label">Remote Policy</label>
    
    
                        <div class="col-md-8 col-lg-9 input-Syndicate has-validation">
    
                          
                            <select [class.is-invalid]="
                            nexusForm.get('remotePolicy')?.touched &&
                            nexusForm.get('remotePolicy')?.invalid
                          "  class="form-select" id="remotePolicy" formControlName="remotePolicy" aria-label="Default select example" required>
                              <option *ngFor="let size of remotePolicies" [value]="size.value">{{ size.viewValue }}</option>
                            </select>
                            <div *ngIf="nexusForm.get('remotePolicy')?.errors?.['required']" class="invalid-feedback">
                              Remote Policy is required!
                            </div>
    
                        </div>
                      </div>
                    
                    
                    
                    
                    </div>
                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="contact-tab">
                    
                    
                    
                      <div class="row mb-3 has-validation">
                        <label for="displlayname" class="col-md-4 col-lg-3 col-form-label">Currency</label>
    
    
                        <div class="col-md-8 col-lg-9 input-Syndicate has-validation">
    
                          
                            <select [class.is-invalid]="
                            nexusForm.get('currency')?.touched &&
                            nexusForm.get('currency')?.invalid
                          "  class="form-select" id="currency" formControlName="currency" aria-label="Default select example" required>
                              <option *ngFor="let size of currencies" [value]="size.value">({{size.value}}) {{ size.viewValue }} </option>
                            </select>
                            <div *ngIf="nexusForm.get('currency')?.errors?.['required']" class="invalid-feedback">
                              Currency is required!
                            </div>
    
                        </div>
                      </div>

                      <div class="row mb-3 has-validation">
                        <label for="inputNumber" class="col-sm-3 col-form-label">Annual Salary Range</label>
                        <div class="col-sm-4 mb-3 has-validation">
                          <input [class.is-invalid]="
                          nexusForm.get('annualSalaryMin')?.touched &&
                          nexusForm.get('annualSalaryMin')?.invalid
                        " formControlName="annualSalaryMin"  type="number" class="form-control">
                          <div *ngIf="nexusForm.get('annualSalaryMin')?.errors?.['min']"
                            class="invalid-feedback">
                            Salary can't be negative 
                          </div>
                          <div *ngIf="nexusForm.get('annualSalaryMin')?.errors?.['required']"
                            class="invalid-feedback">
                            Minimum Annual Salary is required!
                          </div>
                          <div *ngIf="nexusForm.get('annualSalaryMax')?.errors?.['min']"
                            class="invalid-feedback">
                            Max Salary can't be negative 
                          </div>
                          <div *ngIf="nexusForm.get('annualSalaryMax')?.errors?.['required']"
                            class="invalid-feedback">
                            Maximum Annual Salary is required!
                          </div>
                          <div *ngIf="nexusForm.get('annualSalaryMax')?.errors?.['mismatch']" class="invalid-feedback">
                            Max salary can't be less than Min
                          </div>
                        </div>
                        <div class="col-sm-1 ">
                          <label for="inputNumber" class="col-form-label">to</label>
                        
                        </div>
                        
                        <div class="col-sm-4 has-validation">
                          <input [class.is-invalid]="
                          nexusForm.get('annualSalaryMax')?.touched &&
                          nexusForm.get('annualSalaryMax')?.invalid
                        " formControlName="annualSalaryMax"  type="number" class="form-control">
                          
                        </div>
                      </div>

                      <div class="row mb-3 has-validation">
                        <label for="inputNumber" class="col-sm-3 col-form-label">Equity Range</label>
                        <div class="col-sm-4 mb-3 has-validation">
                          <input  [attr.disabled]="nexusForm.get('equity').value === true ? true : null" [class.is-invalid]="
                          nexusForm.get('equityMin')?.touched &&
                          nexusForm.get('equityMin')?.invalid
                        " formControlName="equityMin"  type="number" class="form-control">
                          <div *ngIf="nexusForm.get('equityMin')?.errors?.['min']"
                            class="invalid-feedback">
                            Minimum Equity can't be negative 
                          </div>
                          <div *ngIf="nexusForm.get('equityMin')?.errors?.['max']"
                            class="invalid-feedback">
                            Minimum Equity can't exceed 100%
                          </div>
                          <div *ngIf="nexusForm.get('equityMin')?.errors?.['required']"
                            class="invalid-feedback">
                            Minimum Equity Salary is required!
                          </div>
                          <div *ngIf="nexusForm.get('equityMax')?.errors?.['min']"
                            class="invalid-feedback">
                            Max Equity can't be negative 
                          </div>
                          <div *ngIf="nexusForm.get('equityMax')?.errors?.['max']"
                            class="invalid-feedback">
                            Max Equity can't exceed 100%
                          </div>
                          <div *ngIf="nexusForm.get('equityMax')?.errors?.['required']"
                            class="invalid-feedback">
                            Maximum Rquity Salary is required!
                          </div>
                          <div *ngIf="nexusForm.get('equityMax')?.errors?.['equityError']" class="invalid-feedback">
                            Max Equity can't be less than Min
                          </div>
                        </div>
                        <div class="col-sm-1 ">
                          <label for="inputNumber" class="col-form-label">to</label>
                        
                        </div>
                        
                        <div class="col-sm-4 has-validation" >
                          <input   [attr.disabled]="nexusForm.get('equity').value === true ? true : null" [class.is-invalid]="
                          nexusForm.get('equityMax')?.touched &&
                          nexusForm.get('equityMax')?.invalid
                        " formControlName="equityMax"  type="number" class="form-control">
                          
                        </div>
                      </div>


                      <div class="row mb-3">
                        <legend class="col-form-label col-sm-3 pt-0">No Equity</legend>
                        <div class="col-sm-9">
      

                          <div class="form-check">
                            <input  formControlName="equity" class="form-check-input" type="checkbox" id="gridCheck2" >
                            
                          </div>
      
                        </div>
                      </div>
                    
                    
                    
                    
                    </div>
                  </div><!-- End Pills Tabs -->
    
                </div>
              
                
              
               
                
     

             

               


            





                <div class="text-center">
                  <!-- <button type="submit" [disabled]="nexusForm.invalid" class="btn btn-primary">
                    Save Changes
                  </button> -->
                  <button type="submit"   class="btn btn-primary">
                    Create
                  </button>
                  <button type="reset" class="btn btn-secondary m-3">
                    Reset
                  </button>

                </div>
              </form>

            
                
              
              <!-- End floating Labels Form -->
            </div>
          </div>
          <!-- End News & Updates -->
        </div>
      </div>
    </section>
  </main>
  