<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <ng-container *ngIf="exam$ | async as exam">
      <li class="nav-heading">{{ exam.test.title }}</li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="generateRouterLinkDashboard(exam.test.testId)">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <!-- End Dashboard Nav -->

      <li class="nav-heading">Questions</li>
      <ng-container *ngFor="let question of exam.test.codingQuestions">
        <li class="nav-item">
          <a class="nav-link collapsed" [routerLink]="generateRouterLink(exam.test.testId, question.codingQuestionId)">
            <i class="bi bi-question-circle"></i>
            <span>{{ question.title }}</span>
          </a>
        </li>
        <!-- End Question Nav -->
      </ng-container>

      <li class="nav-heading">Test</li>
      <li class="nav-item">
        <a class="nav-link collapsed" (click)="onSubmitTest()">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Submit Test</span>
        </a>
      </li>
      <!-- End Submit Test Nav -->

    </ng-container>
  </ul>
</aside>
