<h1>Editor</h1>
<button (click)="updateOptions()">Change Language</button>
<button (click)="code = ''; codeInput=''">Set Value To Empty String</button>
<button (click)="code = null; codeInput=null">Set Value To Null</button>
<button (click)="code = undefined; codeInput=undefined">Set Value To undefined</button>
<button (click)="showMultiple = !showMultiple">{{showMultiple ? 'Hide' : 'Show'}} Multiple Editor</button>

<div >
    <ngx-monaco-editor  [options]="options" [(ngModel)]="code" (onInit)="onInit($event)"></ngx-monaco-editor>
</div>

<ngx-monaco-editor *ngIf="showMultiple" [options]="options" [(ngModel)]="code"></ngx-monaco-editor>

<pre>{{code | json}}</pre>

