
<main>
    
    <div class="container">
        <section
            class="section home-page min-vh-100 d-flex flex-column align-items-center justify-content-center"
        >
            <h1>FAQs</h1>
            <h2>Cloud-Native based Online Assessment Platform</h2>
            <a class="btn btn-primary btn-block mb-3" href="/account/login">Get started</a>
            <div class="credits">
                Created by <a href="https://github.com/arya2004">arya2004</a>
            </div>
        </section>
        
    </div>
  </main>
  
    
   
    
  