<main id="main" class="main">
  <div class="pagetitle">
    <h1>Profile</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Users</li>
        <li class="breadcrumb-item active">Profile</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section profile">
    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
            <h2>Xphyrus.co</h2>
            <h3>Arya PAthak</h3>
            <div class="social-links mt-2">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-12">
        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">
              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">
                  Overview
                </button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">
                  Edit Company
                </button>
              </li>



              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">
                  Change Password
                </button>
              </li>
            </ul>
            <div class="tab-content pt-2">
              <div class="tab-pane fade show active profile-overview" id="profile-overview">
                <h5 class="card-title">One Line Pitch</h5>
                <p class="small fst-italic">
                  Sunt est soluta temporibus accusantium neque nam maiores
                  cumque temporibus. Tempora libero non est unde veniam est qui
                  dolor. Ut sunt iure rerum quae quisquam autem eveniet
                  perspiciatis odit. Fuga sequi sed ea saepe at unde.
                </p>

                <h5 class="card-title">Company Details</h5>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">DisplayName</div>
                  <div class="col-lg-9 col-md-8">Kevin Anderson</div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Work Email</div>
                  <div class="col-lg-9 col-md-8">Kevin Anderson</div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Location</div>
                  <div class="col-lg-9 col-md-8">Kevin Anderson</div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Market</div>
                  <div class="col-lg-9 col-md-8">Kevin Anderson</div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">CompanySize</div>
                  <div class="col-lg-9 col-md-8">Kevin Anderson</div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Role</div>
                  <div class="col-lg-9 col-md-8">Kevin Anderson</div>
                </div>



              </div>

              <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                <!-- Profile Edit Form -->
                <form [formGroup]="applicationUserForm" class="needs-validation" (ngSubmit)="onSubmit()">
                  <h5 class="card-title">Company Details</h5>
                  
                 
                  <div class="row mb-3 has-validation">
                    <label for="displlayname" class="col-md-4 col-lg-3 col-form-label">Display Name</label>


                    <div class="col-md-8 col-lg-9 input-Syndicate has-validation">

                      <input [class.is-invalid]="
                            applicationUserForm.get('displlayname')?.touched &&
                            applicationUserForm.get('displlayname')?.invalid
                          " formControlName="displlayname" type="text" name="username" class="form-control"
                        id="yourUsername" required />
                      <div *ngIf="applicationUserForm.get('displlayname')?.errors?.['required']"
                        class="invalid-feedback">
                        Display Name is required!
                      </div>

                    </div>
                  </div>

                  <div class="row mb-3 has-validation">
                    <label for="displlayname" class="col-md-4 col-lg-3 col-form-label">One Line Pitch</label>


                    <div class="col-md-8 col-lg-9 input-Syndicate has-validation">

                      <textarea [class.is-invalid]="
                            applicationUserForm.get('oneLinePitch')?.touched &&
                            applicationUserForm.get('oneLinePitch')?.invalid
                          " formControlName="oneLinePitch" type="text" name="username" class="form-control"
                        id="yourUsername" required ></textarea>
                      <div *ngIf="applicationUserForm.get('oneLinePitch')?.errors?.['required']"
                        class="invalid-feedback">
                        One Line Pitch is required!
                      </div>

                    </div>
                  </div>
                  
                  <div class="row mb-3 has-validation">
                    <label for="displlayname" class="col-md-4 col-lg-3 col-form-label">Work Email</label>


                    <div class="col-md-8 col-lg-9 input-Syndicate has-validation">

                      <input [class.is-invalid]="
                            applicationUserForm.get('workEmail')?.touched &&
                            applicationUserForm.get('workEmail')?.invalid
                          " formControlName="workEmail" type="text" name="username" class="form-control"
                        id="yourUsername" required />
                      <div *ngIf="applicationUserForm.get('workEmail')?.errors?.['required']"
                        class="invalid-feedback">
                        Work Email is required!
                      </div>
                      <div *ngIf="applicationUserForm.get('workEmail')?.errors?.['email']"
                        class="invalid-feedback">
                        Invalid Email!
                      </div>

                    </div>
                  </div>

                 
                  <div class="row mb-3 has-validation">
                    <label for="displlayname" class="col-md-4 col-lg-3 col-form-label">Location</label>


                    <div class="col-md-8 col-lg-9 input-Syndicate has-validation">

                      <textarea [class.is-invalid]="
                            applicationUserForm.get('location')?.touched &&
                            applicationUserForm.get('location')?.invalid
                          " formControlName="location" type="text" name="username" class="form-control"
                        id="yourUsername" required ></textarea>
                      <div *ngIf="applicationUserForm.get('location')?.errors?.['required']"
                        class="invalid-feedback">
                        Location is required!
                      </div>

                    </div>
                  </div>

                  <div class="row mb-3 has-validation">
                    <label for="displlayname" class="col-md-4 col-lg-3 col-form-label">Market</label>


                    <div class="col-md-8 col-lg-9 input-Syndicate has-validation">

                      <input [class.is-invalid]="
                            applicationUserForm.get('market')?.touched &&
                            applicationUserForm.get('market')?.invalid
                          " formControlName="market" type="text" name="username" class="form-control"
                        id="yourUsername" required />
                      <div *ngIf="applicationUserForm.get('market')?.errors?.['required']"
                        class="invalid-feedback">
                        Market is required!
                      </div>

                    </div>
                  </div>

                  <div class="row mb-3 has-validation">
                    <label for="displlayname" class="col-md-4 col-lg-3 col-form-label">Company Size</label>


                    <div class="col-md-8 col-lg-9 input-Syndicate has-validation">

                      
                        <select [class.is-invalid]="
                        applicationUserForm.get('companySize')?.touched &&
                        applicationUserForm.get('companySize')?.invalid
                      "  class="form-select" id="companySize" formControlName="companySize" aria-label="Default select example" required>
                          <option *ngFor="let size of companySizes" [value]="size.value">{{ size.label }}</option>
                        </select>
                        <div *ngIf="applicationUserForm.get('companySize')?.errors?.['required']" class="invalid-feedback">
                          Company Size is required!
                        </div>

                    </div>
                  </div>

                  <h5 class="card-title">Company Socials</h5>

                  <div class="row mb-3 has-validation">
                    <label for="displlayname" class="col-md-4 col-lg-3 col-form-label">Website Url</label>


                    <div class="col-md-8 col-lg-9 input-Syndicate has-validation">

                      <input [class.is-invalid]="
                            applicationUserForm.get('websiteUrl')?.touched &&
                            applicationUserForm.get('websiteUrl')?.invalid
                          " formControlName="websiteUrl" type="text" name="username" class="form-control"
                        id="yourUsername" required />
                      <div *ngIf="applicationUserForm.get('websiteUrl')?.errors?.['required']"
                        class="invalid-feedback">
                        Website Url is required!
                      </div>

                    </div>
                  </div>

                  <div class="row mb-3 has-validation">
                    <label for="displlayname" class="col-md-4 col-lg-3 col-form-label">Linkedin Url</label>


                    <div class="col-md-8 col-lg-9 input-Syndicate has-validation">

                      <input [class.is-invalid]="
                            applicationUserForm.get('linkedinUrl')?.touched &&
                            applicationUserForm.get('linkedinUrl')?.invalid
                          " formControlName="linkedinUrl" type="text" name="username" class="form-control"
                        id="yourUsername" required />
                      <div *ngIf="applicationUserForm.get('linkedinUrl')?.errors?.['required']"
                        class="invalid-feedback">
                        Linkedin Url is required!
                      </div>

                    </div>
                  </div>

                  <div class="row mb-3 has-validation">
                    <label for="displlayname" class="col-md-4 col-lg-3 col-form-label">Twitter Url</label>


                    <div class="col-md-8 col-lg-9 input-Syndicate has-validation">

                      <input  formControlName="twitterUrl" type="text" name="username" class="form-control"
                        id="yourUsername" />
                      

                    </div>
                  </div>

                  <div class="row mb-3 has-validation">
                    <label for="displlayname" class="col-md-4 col-lg-3 col-form-label">Facebook Url</label>


                    <div class="col-md-8 col-lg-9 input-Syndicate has-validation">

                      <input formControlName="facebookUrl" type="text" name="username" class="form-control"
                        id="yourUsername" />
                      

                    </div>
                  </div>



                  <div class="text-center">
                    <button type="submit" [disabled]="applicationUserForm.invalid" class="btn btn-primary">
                      Save Changes
                    </button>

                  </div>
                </form>


                
                <!-- End Profile Edit Form -->
              </div>



              <div class="tab-pane fade pt-3" id="profile-change-password">
                <!-- Change Password Form -->
                <form  [formGroup]="passwordChangeForm" (ngSubmit)="onSubmitPasswordForm()" >

                  <div class="row mb-3 has-validation">
                    <label for="displlayname" class="col-md-4 col-lg-3 col-form-label">Current Password</label>


                    <div class="col-md-8 col-lg-9 input-Syndicate has-validation">

                      <input [class.is-invalid]="
                            passwordChangeForm.get('currentPassword')?.touched &&
                            passwordChangeForm.get('currentPassword')?.invalid
                          " formControlName="currentPassword" type="password"  name="username" class="form-control"
                        id="yourUsername" required />
                      <div *ngIf="passwordChangeForm.get('currentPassword')?.errors?.['required']"
                        class="invalid-feedback">
                        Current Password is required!
                      </div>

                    </div>
                  </div>

                  <div class="row mb-3 has-validation">
                    <label for="displlayname" class="col-md-4 col-lg-3 col-form-label">New Password</label>


                    <div class="col-md-8 col-lg-9 input-Syndicate has-validation">

                      <input [class.is-invalid]="
                            passwordChangeForm.get('newPassword')?.touched &&
                            passwordChangeForm.get('newPassword')?.invalid
                          " formControlName="newPassword" type="password"  name="username" class="form-control"
                        id="yourUsername" required />
                        <div *ngIf="passwordChangeForm.get('newPassword')?.errors?.['required']" class="invalid-feedback">
                          New Password is required!
                        </div>
                        <div *ngIf="passwordChangeForm.get('newPassword')?.errors?.['minlength']" class="invalid-feedback">
                          New Password must be at least 8 characters long!
                        </div>

                    </div>
                  </div>

                  <div class="row mb-3 has-validation">
                    <label for="displlayname" class="col-md-4 col-lg-3 col-form-label">Re-New Password</label>


                    <div class="col-md-8 col-lg-9 input-Syndicate has-validation">

                      <input [class.is-invalid]="
                            passwordChangeForm.get('reEnterNewPassword')?.touched &&
                            passwordChangeForm.get('reEnterNewPassword')?.invalid 
                          " formControlName="reEnterNewPassword"type="password"  name="username" class="form-control"
                        id="yourUsername" required />
                        <div *ngIf="passwordChangeForm.get('reEnterNewPassword')?.errors?.['required']" class="invalid-feedback">
                          Re-enter New Password is required!
                        </div>

                        <div *ngIf="passwordChangeForm.get('reEnterNewPassword')?.errors?.['mismatch']" class="invalid-feedback">
                          New Password and Re-entered Password do not match!
                        </div>
                        

                    </div>
                  </div>

                


                  <div class="text-center">
                    <button type="submit"  [disabled]="passwordChangeForm.invalid" class="btn btn-primary">
                      Change Password
                    </button>
                  </div>
                </form>
                <!-- End Change Password Form -->
              </div>
            </div>
            <!-- End Bordered Tabs -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->