<main>
  <div class="container">
    <section
      class="section not-found-page min-vh-100 d-flex flex-column align-items-center justify-content-center"
    >
      <h1>404</h1>
      <h2>Page Not Found</h2>
      <p>The page you are looking for doesn't exist or has been moved.</p>
      <a class="btn btn-primary btn-block mb-3" href="/">Return to Home</a>
      <div class="credits">
        Created by <a href="https://github.com/arya2004">arya2004</a>
      </div>
    </section>
  </div>
</main>
