<app-teacher-side-bar></app-teacher-side-bar>
<main id="main" class="main">
    <div class="pagetitle">
      <h1>Teacher Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div>
    <!-- End Page Title -->
    <div class="pagetitle">
      <h1>Fromsdgbh Classrooms</h1>
     
    </div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createClassroomModal">
      Create New Classroom
    </button>
    <section class="section dashboard">
      <div class="row">
        <div class="col-lg-12 mb-3" style="overflow-x: auto">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Classroom Name</th>
                    <th scope="col">Classroom Number</th>
                    <th scope="col">Description</th>
                    <th scope="col">Course Type</th>
                    <th scope="col">Creation Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let classroom of classrooms; let i = index"
                    (click)="redirectToClassroom(classroom.classroomId)"
                    style="cursor: pointer;"
                  >
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ classroom.name }}</td>
                    <td>{{ classroom.number }}</td>
                    <td>{{ classroom.description }}</td>
                    <td>{{ getCourseTypeName(classroom.type) }}</td>
                    <td>{{ classroom.creationDate }}</td>
                  </tr>
                </tbody>
              </table>
        </div>
        
  
        <div class="card">
          
          
          
        
            <!-- Create Classroom Modal -->
            <div class="modal fade" id="createClassroomModal" tabindex="-1" data-bs-backdrop="false">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Create New Classroom</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form [formGroup]="classroomForm" class="needs-validation" (ngSubmit)="onClassroomCreate()">
                      <div class="mb-3">
                        <label for="classroomName" class="form-label">Classroom Name</label>
                        <input
                          type="text"
                          class="form-control"
                          id="classroomName"
                          formControlName="name"
                          [class.is-invalid]="classroomForm.get('name')?.touched && classroomForm.get('name')?.invalid"
                          required
                        />
                        <div *ngIf="classroomForm.get('name')?.errors?.['required']" class="invalid-feedback">
                          Classroom Name is required!
                        </div>
                      </div>
        
                      <div class="mb-3">
                        <label for="classroomNumber" class="form-label">Classroom Number</label>
                        <input
                          type="text"
                          class="form-control"
                          id="classroomNumber"
                          formControlName="number"
                          [class.is-invalid]="classroomForm.get('number')?.touched && classroomForm.get('number')?.invalid"
                          required
                        />
                        <div *ngIf="classroomForm.get('number')?.errors?.['required']" class="invalid-feedback">
                          Classroom Number is required!
                        </div>
                      </div>
        
                      <div class="mb-3">
                        <label for="classroomDescription" class="form-label">Description</label>
                        <textarea
                          class="form-control"
                          id="classroomDescription"
                          formControlName="description"
                          [class.is-invalid]="classroomForm.get('description')?.touched && classroomForm.get('description')?.invalid"
                        ></textarea>
                      </div>
        
                      <div class="mb-3">
                        <label for="courseType" class="form-label">Course Type</label>
                        <select
                          class="form-select"
                          id="courseType"
                          formControlName="type"
                          [class.is-invalid]="classroomForm.get('type')?.touched && classroomForm.get('type')?.invalid"
                          required
                        >
                          <option *ngFor="let type of courseTypes" [value]="type.value">{{ type.viewValue }}</option>
                        </select>
                        <div *ngIf="classroomForm.get('type')?.errors?.['required']" class="invalid-feedback">
                          Course Type is required!
                        </div>
                      </div>
        
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit"  [disabled]="classroomForm.invalid" class="btn btn-primary">
                            Create
                          </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div><!-- End Create Classroom Modal-->
         
        </div>
        
        
      </div>
    </section>
  </main>
  