
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
  
      <li class="nav-item">
        <a class="nav-link " routerLink="/teacher/dashboard">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->
      <li class="nav-heading">My Classrooms</li>
     
      <li class="nav-item">
        <div class="d-flex align-items-center justify-content-between">
            <a class="nav-link" routerLink="/teacher/classroom/101">
                <i class="bi bi-menu-button-wide"></i><span>Classroom 1</span>
            </a>
            <a class="nav-link collapsed" data-bs-target="#classroom1-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-chevron-down"></i>
            </a>
        </div>
        <ul id="classroom1-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
            <li>
                <div class="d-flex align-items-center justify-content-between">
                    <a class="nav-link" routerLink="/teacher/classroom/101/test/1">
                        <i class="bi bi-menu-button-wide"></i><span>Test 1</span>
                    </a>
                    <a class="nav-link collapsed" data-bs-target="#test1-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-chevron-down"></i>
                    </a>
                </div>
                <ul id="test1-nav" class="nav-content collapse" data-bs-parent="#classroom1-nav">
                    <li>
                        <a routerLink="/teacher/classroom/101/test/1">
                            <i class="bi bi-circle"></i><span>Test Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/teacher/classroom/101/test/1/question/1">
                            <i class="bi bi-circle"></i><span>Question 1</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/teacher/classroom/101/test/1/question/2">
                            <i class="bi bi-circle"></i><span>Question 2</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
  
    
    <li class="nav-item">
      <div class="d-flex align-items-center justify-content-between">
          <a class="nav-link" routerLink="/teacher/classroom/102">
              <i class="bi bi-menu-button-wide"></i><span>Classroom 2</span>
          </a>
          <a class="nav-link collapsed" data-bs-target="#classroom2-nav" data-bs-toggle="collapse" href="#">
              <i class="bi bi-chevron-down"></i>
          </a>
      </div>
      <ul id="classroom2-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
              <div class="d-flex align-items-center justify-content-between">
                  <a class="nav-link" routerLink="/teacher/classroom/102/test/1">
                      <i class="bi bi-menu-button-wide"></i><span>Test 1</span>
                  </a>
                  <a class="nav-link collapsed" data-bs-target="#test1-nav" data-bs-toggle="collapse" href="#">
                      <i class="bi bi-chevron-down"></i>
                  </a>
              </div>
              <ul id="test1-nav" class="nav-content collapse" data-bs-parent="#classroom2-nav">
                  <li>
                      <a routerLink="/teacher/classroom/102/test/1/question/1">
                          <i class="bi bi-circle"></i><span>Question 1</span>
                      </a>
                  </li>
                  <li>
                      <a routerLink="/teacher/classroom/102/test/1/question/2">
                          <i class="bi bi-circle"></i><span>Question 2</span>
                      </a>
                  </li>
                  <li>
                      <a routerLink="/teacher/classroom/102/test/1/question/3">
                          <i class="bi bi-circle"></i><span>Question 3</span>
                      </a>
                  </li>
              </ul>
          </li>
          <li>
              <div class="d-flex align-items-center justify-content-between">
                  <a class="nav-link" routerLink="/teacher/classroom/102/test/2">
                      <i class="bi bi-menu-button-wide"></i><span>Test 2</span>
                  </a>
                  <a class="nav-link collapsed" data-bs-target="#test2-nav" data-bs-toggle="collapse" href="#">
                      <i class="bi bi-chevron-down"></i>
                  </a>
              </div>
              <ul id="test2-nav" class="nav-content collapse" data-bs-parent="#classroom2-nav">
                  <li>
                      <a routerLink="/teacher/classroom/102/test/2/question/1">
                          <i class="bi bi-circle"></i><span>Question 1</span>
                      </a>
                  </li>
                  <li>
                      <a routerLink="/teacher/classroom/102/test/2/question/2">
                          <i class="bi bi-circle"></i><span>Question 2</span>
                      </a>
                  </li>
              </ul>
          </li>
          <li>
              <div class="d-flex align-items-center justify-content-between">
                  <a class="nav-link" routerLink="/teacher/classroom/102/test/3">
                      <i class="bi bi-menu-button-wide"></i><span>Test 3</span>
                  </a>
                  <a class="nav-link collapsed" data-bs-target="#test3-nav" data-bs-toggle="collapse" href="#">
                      <i class="bi bi-chevron-down"></i>
                  </a>
              </div>
              <ul id="test3-nav" class="nav-content collapse" data-bs-parent="#classroom2-nav">
                  <li>
                      <a routerLink="/teacher/classroom/102/test/3/question/1">
                          <i class="bi bi-circle"></i><span>Question 1</span>
                      </a>
                  </li>
                  <li>
                      <a routerLink="/teacher/classroom/102/test/3/question/2">
                          <i class="bi bi-circle"></i><span>Question 2</span>
                      </a>
                  </li>
                  <li>
                      <a routerLink="/teacher/classroom/102/test/3/question/3">
                          <i class="bi bi-circle"></i><span>Question 3</span>
                      </a>
                  </li>
                  <li>
                      <a routerLink="/teacher/classroom/102/test/3/question/4">
                          <i class="bi bi-circle"></i><span>Question 4</span>
                      </a>
                  </li>
              </ul>
          </li>
          <li>
              <div class="d-flex align-items-center justify-content-between">
                  <a class="nav-link" routerLink="/teacher/classroom/102/test/4">
                      <i class="bi bi-menu-button-wide"></i><span>Test 4</span>
                  </a>
                  <a class="nav-link collapsed" data-bs-target="#test4-nav" data-bs-toggle="collapse" href="#">
                      <i class="bi bi-chevron-down"></i>
                  </a>
              </div>
              <ul id="test4-nav" class="nav-content collapse" data-bs-parent="#classroom2-nav">
                  <li>
                      <a routerLink="/teacher/classroom/102/test/4/question/1">
                          <i class="bi bi-circle"></i><span>Question 1</span>
                      </a>
                  </li>
                  <li>
                      <a routerLink="/teacher/classroom/102/test/4/question/2">
                          <i class="bi bi-circle"></i><span>Question 2</span>
                      </a>
                  </li>
              </ul>
          </li>
          <li>
              <div class="d-flex align-items-center justify-content-between">
                  <a class="nav-link" routerLink="/teacher/classroom/102/test/5">
                      <i class="bi bi-menu-button-wide"></i><span>Test 5</span>
                  </a>
                  <a class="nav-link collapsed" data-bs-target="#test5-nav" data-bs-toggle="collapse" href="#">
                      <i class="bi bi-chevron-down"></i>
                  </a>
              </div>
              <ul id="test5-nav" class="nav-content collapse" data-bs-parent="#classroom2-nav">
                  <li>
                      <a routerLink="/teacher/classroom/102/test/5/question/1">
                          <i class="bi bi-circle"></i><span>Question 1</span>
                      </a>
                  </li>
                  <li>
                      <a routerLink="/teacher/classroom/102/test/5/question/2">
                          <i class="bi bi-circle"></i><span>Question 2</span>
                      </a>
                  </li>
                  <li>
                      <a routerLink="/teacher/classroom/102/test/5/question/3">
                          <i class="bi bi-circle"></i><span>Question 3</span>
                      </a>
                  </li>
              </ul>
          </li>
      </ul>
  </li>

  <li class="nav-item">
    <div class="d-flex align-items-center justify-content-between">
        <a class="nav-link" routerLink="/teacher/classroom/103">
            <i class="bi bi-menu-button-wide"></i><span>Classroom 3</span>
        </a>
        <a class="nav-link collapsed" data-bs-target="#classroom3-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-chevron-down"></i>
        </a>
    </div>
    <ul id="classroom3-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
            <div class="d-flex align-items-center justify-content-between">
                <a class="nav-link" routerLink="/teacher/classroom/103/test/1">
                    <i class="bi bi-menu-button-wide"></i><span>Test 1</span>
                </a>
                <a class="nav-link collapsed" data-bs-target="#test1-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-chevron-down"></i>
                </a>
            </div>
            <ul id="test1-nav" class="nav-content collapse" data-bs-parent="#classroom3-nav">
                <li>
                    <a routerLink="/teacher/classroom/103/test/1/question/1">
                        <i class="bi bi-circle"></i><span>Question 1</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/teacher/classroom/103/test/1/question/2">
                        <i class="bi bi-circle"></i><span>Question 2</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/teacher/classroom/103/test/1/question/3">
                        <i class="bi bi-circle"></i><span>Question 3</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <div class="d-flex align-items-center justify-content-between">
                <a class="nav-link" routerLink="/teacher/classroom/103/test/2">
                    <i class="bi bi-menu-button-wide"></i><span>Test 2</span>
                </a>
                <a class="nav-link collapsed" data-bs-target="#test2-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-chevron-down"></i>
                </a>
            </div>
            <ul id="test2-nav" class="nav-content collapse" data-bs-parent="#classroom3-nav">
                <li>
                    <a routerLink="/teacher/classroom/103/test/2/question/1">
                        <i class="bi bi-circle"></i><span>Question 1</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/teacher/classroom/103/test/2/question/2">
                        <i class="bi bi-circle"></i><span>Question 2</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/teacher/classroom/103/test/2/question/3">
                        <i class="bi bi-circle"></i><span>Question 3</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <div class="d-flex align-items-center justify-content-between">
                <a class="nav-link" routerLink="/teacher/classroom/103/test/3">
                    <i class="bi bi-menu-button-wide"></i><span>Test 3</span>
                </a>
                <a class="nav-link collapsed" data-bs-target="#test3-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-chevron-down"></i>
                </a>
            </div>
            <ul id="test3-nav" class="nav-content collapse" data-bs-parent="#classroom3-nav">
                <li>
                    <a routerLink="/teacher/classroom/103/test/3/question/1">
                        <i class="bi bi-circle"></i><span>Question 1</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/teacher/classroom/103/test/3/question/2">
                        <i class="bi bi-circle"></i><span>Question 2</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/teacher/classroom/103/test/3/question/3">
                        <i class="bi bi-circle"></i><span>Question 3</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/teacher/classroom/103/test/3/question/4">
                        <i class="bi bi-circle"></i><span>Question 4</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <div class="d-flex align-items-center justify-content-between">
                <a class="nav-link" routerLink="/teacher/classroom/103/test/4">
                    <i class="bi bi-menu-button-wide"></i><span>Test 4</span>
                </a>
                <a class="nav-link collapsed" data-bs-target="#test4-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-chevron-down"></i>
                </a>
            </div>
            <ul id="test4-nav" class="nav-content collapse" data-bs-parent="#classroom3-nav">
                <li>
                    <a routerLink="/teacher/classroom/103/test/4/question/1">
                        <i class="bi bi-circle"></i><span>Question 1</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/teacher/classroom/103/test/4/question/2">
                        <i class="bi bi-circle"></i><span>Question 2</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</li>

    
<li class="nav-item">
  <div class="d-flex align-items-center justify-content-between">
      <a class="nav-link" routerLink="/teacher/classroom/104">
          <i class="bi bi-menu-button-wide"></i><span>Classroom 4</span>
      </a>
      <a class="nav-link collapsed" data-bs-target="#classroom4-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-chevron-down"></i>
      </a>
  </div>
  <ul id="classroom4-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
      <li>
          <div class="d-flex align-items-center justify-content-between">
              <a class="nav-link" routerLink="/teacher/classroom/104/test/1">
                  <i class="bi bi-menu-button-wide"></i><span>Test 1</span>
              </a>
              <a class="nav-link collapsed" data-bs-target="#test1-nav" data-bs-toggle="collapse" href="#">
                  <i class="bi bi-chevron-down"></i>
              </a>
          </div>
          <ul id="test1-nav" class="nav-content collapse" data-bs-parent="#classroom4-nav">
              <li>
                  <a routerLink="/teacher/classroom/104/test/1/question/1">
                      <i class="bi bi-circle"></i><span>Question 1</span>
                  </a>
              </li>
              <li>
                  <a routerLink="/teacher/classroom/104/test/1/question/2">
                      <i class="bi bi-circle"></i><span>Question 2</span>
                  </a>
              </li>
              <li>
                  <a routerLink="/teacher/classroom/104/test/1/question/3">
                      <i class="bi bi-circle"></i><span>Question 3</span>
                  </a>
              </li>
          </ul>
      </li>
      <li>
          <div class="d-flex align-items-center justify-content-between">
              <a class="nav-link" routerLink="/teacher/classroom/104/test/2">
                  <i class="bi bi-menu-button-wide"></i><span>Test 2</span>
              </a>
              <a class="nav-link collapsed" data-bs-target="#test2-nav" data-bs-toggle="collapse" href="#">
                  <i class="bi bi-chevron-down"></i>
              </a>
          </div>
          <ul id="test2-nav" class="nav-content collapse" data-bs-parent="#classroom4-nav">
              <li>
                  <a routerLink="/teacher/classroom/104/test/2/question/1">
                      <i class="bi bi-circle"></i><span>Question 1</span>
                  </a>
              </li>
              <li>
                  <a routerLink="/teacher/classroom/104/test/2/question/2">
                      <i class="bi bi-circle"></i><span>Question 2</span>
                  </a>
              </li>
              <li>
                  <a routerLink="/teacher/classroom/104/test/2/question/3">
                      <i class="bi bi-circle"></i><span>Question 3</span>
                  </a>
              </li>
          </ul>
      </li>
      <li>
          <div class="d-flex align-items-center justify-content-between">
              <a class="nav-link" routerLink="/teacher/classroom/104/test/3">
                  <i class="bi bi-menu-button-wide"></i><span>Test 3</span>
              </a>
              <a class="nav-link collapsed" data-bs-target="#test3-nav" data-bs-toggle="collapse" href="#">
                  <i class="bi bi-chevron-down"></i>
              </a>
          </div>
          <ul id="test3-nav" class="nav-content collapse" data-bs-parent="#classroom4-nav">
              <li>
                  <a routerLink="/teacher/classroom/104/test/3/question/1">
                      <i class="bi bi-circle"></i><span>Question 1</span>
                  </a>
              </li>
              <li>
                  <a routerLink="/teacher/classroom/104/test/3/question/2">
                      <i class="bi bi-circle"></i><span>Question 2</span>
                  </a>
              </li>
              <li>
                  <a routerLink="/teacher/classroom/104/test/3/question/3">
                      <i class="bi bi-circle"></i><span>Question 3</span>
                  </a>
              </li>
          </ul>
      </li>
      <li>
          <div class="d-flex align-items-center justify-content-between">
              <a class="nav-link" routerLink="/teacher/classroom/104/test/4">
                  <i class="bi bi-menu-button-wide"></i><span>Test 4</span>
              </a>
              <a class="nav-link collapsed" data-bs-target="#test4-nav" data-bs-toggle="collapse" href="#">
                  <i class="bi bi-chevron-down"></i>
              </a>
          </div>
          <ul id="test4-nav" class="nav-content collapse" data-bs-parent="#classroom4-nav">
              <li>
                  <a routerLink="/teacher/classroom/104/test/4/question/1">
                      <i class="bi bi-circle"></i><span>Question 1</span>
                  </a>
              </li>
              <li>
                  <a routerLink="/teacher/classroom/104/test/4/question/2">
                      <i class="bi bi-circle"></i><span>Question 2</span>
                  </a>
              </li>
              <li>
                  <a routerLink="/teacher/classroom/104/test/4/question/3">
                      <i class="bi bi-circle"></i><span>Question 3</span>
                  </a>
              </li>
          </ul>
      </li>
      <li>
          <div class="d-flex align-items-center justify-content-between">
              <a class="nav-link" routerLink="/teacher/classroom/104/test/5">
                  <i class="bi bi-menu-button-wide"></i><span>Test 5</span>
              </a>
              <a class="nav-link collapsed" data-bs-target="#test5-nav" data-bs-toggle="collapse" href="#">
                  <i class="bi bi-chevron-down"></i>
              </a>
          </div>
          <ul id="test5-nav" class="nav-content collapse" data-bs-parent="#classroom4-nav">
              <li>
                  <a routerLink="/teacher/classroom/104/test/5/question/1">
                      <i class="bi bi-circle"></i><span>Question 1</span>
                  </a>
              </li>
              <li>
                  <a routerLink="/teacher/classroom/104/test/5/question/2">
                      <i class="bi bi-circle"></i><span>Question 2</span>
                  </a>
              </li>
              <li>
                  <a routerLink="/teacher/classroom/104/test/5/question/3">
                      <i class="bi bi-circle"></i><span>Question 3</span>
                  </a>
              </li>
          </ul>
      </li>
      <li>
          <div class="d-flex align-items-center justify-content-between">
              <a class="nav-link" routerLink="/teacher/classroom/104/test/6">
                  <i class="bi bi-menu-button-wide"></i><span>Test 6</span>
              </a>
              <a class="nav-link collapsed" data-bs-target="#test6-nav" data-bs-toggle="collapse" href="#">
                  <i class="bi bi-chevron-down"></i>
              </a>
          </div>
          <ul id="test6-nav" class="nav-content collapse" data-bs-parent="#classroom4-nav">
              <li>
                  <a routerLink="/teacher/classroom/104/test/6/question/1">
                      <i class="bi bi-circle"></i><span>Question 1</span>
                  </a>
              </li>
              <li>
                  <a routerLink="/teacher/classroom/104/test/6/question/2">
                      <i class="bi bi-circle"></i><span>Question 2</span>
                  </a>
              </li>
              <li>
                  <a routerLink="/teacher/classroom/104/test/6/question/3">
                      <i class="bi bi-circle"></i><span>Question 3</span>
                  </a>
              </li>
              <li>
                  <a routerLink="/teacher/classroom/104/test/6/question/4">
                      <i class="bi bi-circle"></i><span>Question 4</span>
                  </a>
              </li>
          </ul>
      </li>
      <li>
          <div class="d-flex align-items-center justify-content-between">
              <a class="nav-link" routerLink="/teacher/classroom/104/test/7">
                  <i class="bi bi-menu-button-wide"></i><span>Test 7</span>
              </a>
              <a class="nav-link collapsed" data-bs-target="#test7-nav" data-bs-toggle="collapse" href="#">
                  <i class="bi bi-chevron-down"></i>
              </a>
          </div>
          <ul id="test7-nav" class="nav-content collapse" data-bs-parent="#classroom4-nav">
              <li>
                  <a routerLink="/teacher/classroom/104/test/7/question/1">
                      <i class="bi bi-circle"></i><span>Question 1</span>
                  </a>
              </li>
              <li>
                  <a routerLink="/teacher/classroom/104/test/7/question/2">
                      <i class="bi bi-circle"></i><span>Question 2</span>
                  </a>
              </li>
              <li>
                  <a routerLink="/teacher/classroom/104/test/7/question/3">
                      <i class="bi bi-circle"></i><span>Question 3</span>
                  </a>
              </li>
              <li>
                  <a routerLink="/teacher/classroom/104/test/7/question/4">
                      <i class="bi bi-circle"></i><span>Question 4</span>
                  </a>
              </li>
          </ul>
      </li>
  </ul>
</li>

    
    <li class="nav-item">
      <div class="d-flex align-items-center justify-content-between">
          <a class="nav-link" routerLink="/teacher/classroom/105">
              <i class="bi bi-menu-button-wide"></i><span>Classroom 5</span>
          </a>
          <a class="nav-link collapsed" data-bs-target="#classroom5-nav" data-bs-toggle="collapse" href="#">
              <i class="bi bi-chevron-down"></i>
          </a>
      </div>
      <ul id="classroom5-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
              <div class="d-flex align-items-center justify-content-between">
                  <a class="nav-link" routerLink="/teacher/classroom/105/test/5">
                      <i class="bi bi-menu-button-wide"></i><span>Test 5</span>
                  </a>
                  <a class="nav-link collapsed" data-bs-target="#test5-nav" data-bs-toggle="collapse" href="#">
                      <i class="bi bi-chevron-down"></i>
                  </a>
              </div>
              <ul id="test5-nav" class="nav-content collapse" data-bs-parent="#classroom5-nav">
                  <li>
                      <a routerLink="/teacher/classroom/105/test/5">
                          <i class="bi bi-circle"></i><span>Test Dashboard</span>
                      </a>
                  </li>
                  <li>
                      <div class="d-flex align-items-center justify-content-between">
                          <a class="nav-link" routerLink="/teacher/classroom/105/test/5/question/1">
                              <i class="bi bi-circle"></i><span>Question 1</span>
                          </a>
                          <a class="nav-link collapsed" data-bs-target="#question1-nav" data-bs-toggle="collapse" href="#">
                              <i class="bi bi-chevron-down"></i>
                          </a>
                      </div>
                  </li>
                  <li>
                      <a routerLink="/teacher/classroom/105/test/5/question/2">
                          <i class="bi bi-circle"></i><span>Question 2</span>
                      </a>
                  </li>
                  <li>
                      <a routerLink="/teacher/classroom/105/test/5/question/3">
                          <i class="bi bi-circle"></i><span>Question 3</span>
                      </a>
                  </li>
              </ul>
          </li>
      </ul>
  </li>
  
    
    <li class="nav-heading">Settings</li>
      
     
    
      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-login.html">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Login</span>
        </a>
      </li><!-- End Login Page Nav -->
  
      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-error-404.html">
          <i class="bi bi-dash-circle"></i>
          <span>Error 404</span>
        </a>
      </li><!-- End Error 404 Page Nav -->
  
      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-blank.html">
          <i class="bi bi-file-earmark"></i>
          <span>Blank</span>
        </a>
      </li><!-- End Blank Page Nav -->
  
    </ul>
  
  </aside><!-- End Sidebar-->