
<main id="main" class="main">
    <div class="pagetitle">
      <h1>Nexus</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div>
    <!-- End Page Title -->
    <div class="pagetitle">
      <h1>My Nexus</h1>
    </div>
   
    <section class="section dashboard">
      <div class="row">
        <div class="col-lg-6" style="overflow-x: auto">
          <table
            datatable
            [dtOptions]="dtOptions"
            [dtTrigger]="dtTrigger"
            class="table table-striped"
          >
            <thead>
              <tr>
            
                <th scope="col">Title</th>
                <th scope="col">Position</th>
             
                <th scope="col">Location</th>
                <th scope="col">Date</th>
                <th scope="col">Hired?</th>
              
  
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of nexus">
                
                <td>{{ c.description }}</td>
                <td>Intern</td>
               
                <td>baner, Pune</td>
                <td>{{ c.creationDate}}</td>
                <td>No</td>
              
  
                <td>
                  <a routerLink="/Syndicate/{{ c.nexusId }}">
                    <button type="button" class="btn btn-secondary"><i class="bi bi-pen"></i></button>
                  </a>
                </td>
                <td>
                  <!-- Disabled Backdrop Modal -->
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="deleteCompany(c.nexusId)"
                  >
                  <i class="bi bi-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
  
        <div class="col-lg-6">
          <!-- Recent Activity -->
          <div class="card">
           
  
            <div class="card-body pb-0">
              <h5 class="card-title">Create <span>| New</span></h5>
  
              <!-- Floating Labels Form -->
              <form class="row g-3" [formGroup]="newNexusForm"  (ngSubmit)="onNewNexusCreate()">
                <div class="col-md-12">
                  <div class="form-floating">
                    <input
                    formControlName="name"
                      type="text"
                      class="form-control"
                      id="floatingName"
                      placeholder="Your Name"
                    />
                    <label for="floatingName">Name</label>
                  </div>
                </div>
  
                <div class="col-12">
                  <div class="form-floating">
                    <textarea
                    formControlName="description"
                      class="form-control"
                      placeholder="Address"
                      id="floatingTextarea"
                      style="height: 100px"
                    ></textarea>
                    <label for="floatingTextarea">Description</label>
                  </div>
                </div>
  
                <div class="text-center">
                  <button type="submit" class="btn btn-primary m-3">
                    Create Syndicate
                  </button>
                  <button type="reset" class="btn btn-secondary m-3">
                    Reset
                  </button>
                </div>
              </form>
              <!-- End floating Labels Form -->
            </div>
          </div>
          <!-- End News & Updates -->
        </div>
      </div>
    </section>
  </main>
  