<main>
  <div class="container">
    <section
      class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
    >
      <div class="container">
        <div class="row justify-content-center">
          <div
            class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center"
          >
            <div class="d-flex justify-content-center py-4">
              <a
                href="index.html"
                class="logo d-flex align-items-center w-auto"
              >
              </a>
            </div>
            <!-- End Logo -->

            <div class="card mb-3">
              <div class="card-body">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">
                    Create an Account
                  </h5>
                  <p class="text-center small">
                    Enter your User details to create account
                  </p>
                </div>

                <form
                  [formGroup]="registerForm"
                  (ngSubmit)="onSubmit()"
                  class="row g-3 needs-validation"
                  novalidate
                >

                <div class="col-12 has-validation">
                  <label for="companyName" class="form-label">Company Name</label>
                  <input
                  [class.is-invalid]="
                          registerForm.get('companyName')?.touched &&
                          registerForm.get('companyName')?.invalid
                        "
                    formControlName="companyName"
                    type="text"
                    name="name"
                    class="form-control"
                    id="companyName"
                    required
                  />
                  <div *ngIf="registerForm.get('companyName')?.errors?.['required']"
                      class="invalid-feedback">
                      Company Name is required!
                    </div>
                </div>
                  <div class="col-12">
                    <label for="yourName" class="form-label">Your Name</label>
                    <input
                    [class.is-invalid]="
                          registerForm.get('name')?.touched &&
                          registerForm.get('name')?.invalid
                        "
                      formControlName="name"
                      type="text"
                      name="name"
                      class="form-control"
                      id="yourName"
                      required
                    />
                    <div *ngIf="registerForm.get('name')?.errors?.['required']"
                      class="invalid-feedback">
                      Your Name is required!
                    </div>
                  </div>

                  <div class="col-12">
                    <label for="yourUsername" class="form-label">Email</label>
                    <div class="input-Syndicate has-validation">
                      
                      <input [class.is-invalid]="
                          registerForm.get('email')?.touched &&
                          registerForm.get('email')?.invalid
                        " formControlName="email" type="text" name="username" class="form-control"
                        id="yourUsername" required />
                      <div *ngIf="registerForm.get('email')?.errors?.['required']" class="invalid-feedback">
                        Please choose an email!
                      </div>
                      <div *ngIf="registerForm.get('email')?.errors?.['email']" class="invalid-feedback">
                        Invalid Email!
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <label for="displlayname" class="form-label">Password</label>


                    <div class="input-Syndicate has-validation">

                      <input [class.is-invalid]="
                            registerForm.get('password')?.touched &&
                            registerForm.get('password')?.invalid
                          " formControlName="password" type="password"  name="username" class="form-control"
                        id="yourUsername" required />
                        <div *ngIf="registerForm.get('password')?.errors?.['required']" class="invalid-feedback">
                          Password is required!
                        </div>
                        <div *ngIf="registerForm.get('password')?.errors?.['minlength']" class="invalid-feedback">
                          Password must be at least 8 characters long!
                        </div>

                    </div>
                  </div>

                  <div class="col-12">
                    <label for="displlayname" class="form-label">Re-enter Password</label>


                    <div class="input-Syndicate has-validation">

                      <input [class.is-invalid]="
                            registerForm.get('confirmPassword')?.touched &&
                            registerForm.get('confirmPassword')?.invalid 
                          " formControlName="confirmPassword"type="password"  name="username" class="form-control"
                        id="yourUsername" required />
                        <div *ngIf="registerForm.get('confirmPassword')?.errors?.['required']" class="invalid-feedback">
                          Re-enter New Password is required!
                        </div>
                        <div *ngIf="registerForm.get('confirmPassword')?.errors?.['mismatch']" class="invalid-feedback">
                          Password and Re-entered Password do not match!
                        </div>

                    </div>
                  </div>

                 

                  

                
                  <div class="col-12">
                    <div class="form-check">
                      <input
                      [class.is-invalid]="
                            registerForm.get('terms')?.touched &&
                            registerForm.get('terms')?.invalid 
                          " formControlName="terms"
                        class="form-check-input"
                        name="terms"
                        type="checkbox"
                        value=""
                        id="acceptTerms"
                        formControlName="terms"
                        required
                      />
                     
                      <label class="form-check-label" for="acceptTerms"
                        >I agree and accept the
                        <a href="#">terms and conditions</a></label
                      >
                      <div class="invalid-feedback">
                        You must agree before submitting.
                      </div>
                      
                    </div>
                  </div>
                  <div class="col-12">
                    <button [disabled]="registerForm.invalid" class="btn btn-primary w-100" type="submit">
                      Create Account
                    </button>
                  </div>
                  <div class="col-12">
                    <p class="small mb-0">
                      Already have an account?
                      <a routerLink="/account/login">Log in</a>
                    </p>
                  </div>
                </form>
              </div>
            </div>

            <div class="credits">
              <!-- All the links in the footer should remain intact. -->
              <!-- You can delete the links only if you purchased the pro version. -->
              <!-- Licensing information: https://bootstrapmade.com/license/ -->
              <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
              Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
<!-- End #main -->
