<header id="header" class="fixed-top margin-bottom-50">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">Xphyrus</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
       <a href="index.html" class="logo me-auto"><img src="/assets/img/logo.png" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="active" routerLink="">Home</a></li>
          <li><a routerLink="/account/login">Login</a></li>
          <li><a routerLink="/account/register">Register</a></li>
          <li><a routerLink="/assesment">My Assesment</a></li>
          
    

       
          <li><a href="contact.html">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="courses.html" class="get-started-btn">Get Started</a>

    </div>
  </header><!-- End Header -->
<router-outlet></router-outlet>