<section id="blog" class="blog">
  <div class="container">

    <div class="row g-5">

      <div class="col-lg-8">

        <div class="row gy-4 posts-list">





          <!-- ======= Blog Details Section ======= -->




          <div class="col-lg-6">
            <article class="d-flex flex-column">


              <h2 class="title">
                <a href="blog-details.html"> Cloud Innovations</a>
              </h2>

              <div class="meta-top">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">John
                      Doe</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clipboard2-data"></i> <a
                      href="blog-details.html"><time>3 Assignment</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-people"></i> <a href="blog-details.html">12
                      Enrolled</a></li>
                </ul>
              </div>

              <div class="content">
                <p>

                </p>
              </div>

              <div class="read-more mt-auto align-self-end">
                <a href="blog-details.html" [routerLink]="['/classroom', 123]">View</a>
              </div>

            </article>
          </div><!-- End post list item -->


          <div class="col-lg-6">
            <article class="d-flex flex-column">


              <h2 class="title">
                <a href="blog-details.html"> Cloud Mastery Lab </a>
              </h2>

              <div class="meta-top">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">John
                      Doe</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clipboard2-data"></i> <a
                      href="blog-details.html"><time>3 Assignment</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-people"></i> <a href="blog-details.html">12
                      Enrolled</a></li>
                </ul>
              </div>

              <div class="content">
                <p>

                </p>
              </div>

              <div class="read-more mt-auto align-self-end">
                <a href="blog-details.html" [routerLink]="['/classroom', 123]">View</a>
              </div>

            </article>
          </div><!-- End post list item -->


          <div class="col-lg-6">
            <article class="d-flex flex-column">


              <h2 class="title">
                <a href="blog-details.html"> Cloud Wizards Workshop </a>
              </h2>

              <div class="meta-top">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">John
                      Doe</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clipboard2-data"></i> <a
                      href="blog-details.html"><time>3 Assignment</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-people"></i> <a href="blog-details.html">12
                      Enrolled</a></li>
                </ul>
              </div>

              <div class="content">
                <p>

                </p>
              </div>

              <div class="read-more mt-auto align-self-end">
                <a href="blog-details.html" [routerLink]="['/classroom', 123]">View</a>
              </div>

            </article>
          </div><!-- End post list item -->


          <div class="col-lg-6">
            <article class="d-flex flex-column">


              <h2 class="title">
                <a href="blog-details.html"> Cloud Frontier Explorers </a>
              </h2>

              <div class="meta-top">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">John
                      Doe</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clipboard2-data"></i> <a
                      href="blog-details.html"><time>3 Assignment</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-people"></i> <a href="blog-details.html">12
                      Enrolled</a></li>
                </ul>
              </div>

              <div class="content">
                <p>

                </p>
              </div>

              <div class="read-more mt-auto align-self-end">
                <a href="blog-details.html" [routerLink]="['/classroom', 123]">View</a>
              </div>

            </article>
          </div><!-- End post list item -->


          <div class="col-lg-6">
            <article class="d-flex flex-column">


              <h2 class="title">
                <a href="blog-details.html"> Cloud Mavericks Seminar</a>
              </h2>

              <div class="meta-top">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">John
                      Doe</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clipboard2-data"></i> <a
                      href="blog-details.html"><time>3 Assignment</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-people"></i> <a href="blog-details.html">12
                      Enrolled</a></li>
                </ul>
              </div>

              <div class="content">
                <p>

                </p>
              </div>

              <div class="read-more mt-auto align-self-end">
                <a href="blog-details.html" [routerLink]="['/classroom', 123]">View</a>
              </div>

            </article>
          </div><!-- End post list item -->


          <div class="col-lg-6">
            <article class="d-flex flex-column">


              <h2 class="title">
                <a href="blog-details.html"> Cloud Summit Hub </a>
              </h2>

              <div class="meta-top">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">John
                      Doe</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clipboard2-data"></i> <a
                      href="blog-details.html"><time>3 Assignment</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-people"></i> <a href="blog-details.html">12
                      Enrolled</a></li>
                </ul>
              </div>

              <div class="content">
                <p>

                </p>
              </div>

              <div class="read-more mt-auto align-self-end">
                <a href="blog-details.html" [routerLink]="['/classroom', 123]">View</a>
              </div>

            </article>
          </div><!-- End post list item -->


          <div class="col-lg-6">
            <article class="d-flex flex-column">


              <h2 class="title">
                <a href="blog-details.html"> Cloud Nexus Bootcamp</a>
              </h2>

              <div class="meta-top">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">John
                      Doe</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clipboard2-data"></i> <a
                      href="blog-details.html"><time>3 Assignment</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-people"></i> <a href="blog-details.html">12
                      Enrolled</a></li>
                </ul>
              </div>

              <div class="content">
                <p>

                </p>
              </div>

              <div class="read-more mt-auto align-self-end">
                <a href="blog-details.html" [routerLink]="['/classroom', 123]">View</a>
              </div>

            </article>
          </div><!-- End post list item -->



        </div><!-- End blog posts list -->




        <div class="blog-pagination">
          <ul class="justify-content-center">
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
          </ul>
        </div><!-- End blog pagination -->




      </div>
      <div class="col-lg-4">

        <div class="sidebar">

          <div class="sidebar-item search-form">
            <h3 class="sidebar-title">Control Panel</h3>


          </div><!-- End sidebar search formn-->




          <div class="comments">
            <div class="reply-form">

              <h4>Join class</h4>

              <form action="">
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input name="name" type="text" class="form-control" placeholder="Class code">
                  </div>
                </div>

                <button type="submit" class="btn btn-primary">Join Classroom</button>

              </form>

            </div>




          </div><!-- End blog comments -->

          <div class="comments">





            <div class="reply-form">

              <h4>Create class</h4>

              <form action="">

                <div class="row">
                  <div class="col form-group">
                    <input name="website" type="text" class="form-control" placeholder="Class">
                  </div>
                </div>
                <div class="row">
                  <div class="col form-group">
                    <input name="website" type="text" class="form-control" placeholder="Section">
                  </div>
                </div>
                <div class="row">
                  <div class="col form-group">
                    <input name="website" type="text" class="form-control" placeholder="Subject">
                  </div>
                </div>
                <div class="row">
                  <div class="col form-group">
                    <input name="website" type="text" class="form-control" placeholder="Room">
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Create Classroom</button>

              </form>

            </div>

          </div><!-- End blog comments -->



        </div><!-- End Blog Sidebar -->

      </div>


    </div>

  </div>
</section><!-- End Blog Section -->