
  <!-- ======= Blog Section ======= -->
  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row g-5">

        <div class="col-lg-12">

          <div class="row gy-4 posts-list">

           

            <div *ngFor="let a of assToDisplay" class="col-lg-6">
              <article class="d-flex flex-column">

                <div class="post-img">
                  
                </div>

                <h2 class="title">
                  <a href="blog-details.html"> {{ a.name}} </a>
                </h2>

                <div class="meta-top">
                  <ul>
                 
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2022-01-01"> {{ a.startDate}} </time></a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2022-01-01"> {{ a.endDate}} </time></a></li>
                  
                  </ul>
                </div>

                <div class="content">
                  <p> Code: 
                    {{ a.code }}
                  </p>
                </div>

                <div class="read-more mt-auto align-self-end">
                
                  <a routerLink="/">Declare Result</a>
                </div>

              </article>
            </div><!-- End post list item -->

        



          </div><!-- End blog posts list -->

       

        </div>


          

          

      

      </div>

    </div>
  </section><!-- End Blog Section -->

  