<h1>Editor</h1>
<button (click)="updateOptions()">Change Language</button>
<button (click)="code = ''; codeInput=''">Set Value To Empty String</button>
<button (click)="code = null; codeInput=null">Set Value To Null</button>
<button (click)="code = undefined; codeInput=undefined">Set Value To undefined</button>
<button (click)="showMultiple = !showMultiple">{{showMultiple ? 'Hide' : 'Show'}} Multiple Editor</button>

<div >
    <ngx-monaco-editor  [options]="options" [(ngModel)]="code" (onInit)="onInit($event)"></ngx-monaco-editor>
</div>

<ngx-monaco-editor *ngIf="showMultiple" [options]="options" [(ngModel)]="code"></ngx-monaco-editor>

<pre>{{code | json}}</pre>




<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        
      <div class="row g-5">
        
       

        <div class="col-lg-12">
            
            

            
           
          <div class="row gy-4 posts-list">
            
            <div class="example-container">
                <mat-form-field hintLabel="Max 10 characters" appearance="fill"   >
                  <mat-label>Enter Code</mat-label>
                  <input matInput #input maxlength="10" placeholder="Ex. Qj13h5n">
                  <mat-hint align="end">{{input.value.length}}/10</mat-hint>
                  <div class="d-grid read-more mt-auto align-self-end col-1">
                    <button  class="btn btn-lg btn-primary mt-3" type="submit" (click)="onSubmit()">Join</button>
                  </div>
                </mat-form-field>
               
            </div>

           


            <div class="col-lg-6">
              <article class="d-flex flex-column">


                <h2 class="title">
                  <a href="blog-details.html">Dolorum optio tempore voluptas dignissimos cumque fuga qui quibusdam quia</a>
                </h2>

                <div class="meta-top">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">John Doe</a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2022-01-01">Jan 1, 2022</time></a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-details.html">12 Comments</a></li>
                  </ul>
                </div>

                <div class="content">
                  <p>
                    Similique neque nam consequuntur ad non maxime aliquam quas. Quibusdam animi praesentium. Aliquam et laboriosam eius aut nostrum quidem aliquid dicta.
                  </p>
                </div>

                <div class="read-more mt-auto align-self-end">
                  <a href="blog-details.html">Start</a>
                </div>

              </article>
            </div><!-- End post list item -->

            <div class="col-lg-6">
              <article class="d-flex flex-column">


                <h2 class="title">
                  <a href="blog-details.html">Nisi magni odit consequatur autem nulla dolorem</a>
                </h2>

                <div class="meta-top">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">John Doe</a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2022-01-01">Jan 1, 2022</time></a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-details.html">12 Comments</a></li>
                  </ul>
                </div>

                <div class="content">
                  <p>
                    Incidunt voluptate sit temporibus aperiam. Quia vitae aut sint ullam quis illum voluptatum et. Quo libero rerum voluptatem pariatur nam.
                  </p>
                </div>

                <div class="read-more mt-auto align-self-end">
                  <a href="blog-details.html">Start</a>
                </div>

              </article>
            </div><!-- End post list item -->

            <div class="col-lg-6">
              <article class="d-flex flex-column">


                <h2 class="title">
                  <a href="blog-details.html">Possimus soluta ut id suscipit ea ut. In quo quia et soluta libero sit sint.</a>
                </h2>

                <div class="meta-top">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">John Doe</a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2022-01-01">Jan 1, 2022</time></a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-details.html">12 Comments</a></li>
                  </ul>
                </div>

                <div class="content">
                  <p>
                    Aut iste neque ut illum qui perspiciatis similique recusandae non. Fugit autem dolorem labore omnis et. Eum temporibus fugiat voluptate enim tenetur sunt omnis.
                  </p>
                </div>

                <div class="read-more mt-auto align-self-end">
                  <a href="blog-details.html">Start</a>
                </div>

              </article>
            </div><!-- End post list item -->

            <div class="col-lg-6">
              <article class="d-flex flex-column">

            

                <h2 class="title">
                  <a href="blog-details.html">Non rem rerum nam cum quo minus. Dolor distinctio deleniti explicabo eius exercitationem.</a>
                </h2>

                <div class="meta-top">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">John Doe</a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2022-01-01">Jan 1, 2022</time></a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-details.html">12 Comments</a></li>
                  </ul>
                </div>

                <div class="content">
                  <p>
                    Aspernatur rerum perferendis et sint. Voluptates cupiditate voluptas atque quae. Rem veritatis rerum enim et autem. Saepe atque cum eligendi eaque iste omnis a qui.
                  </p>
                </div>

                <div class="read-more mt-auto align-self-end">
                  <a href="blog-details.html">Start</a>
                </div>

              </article>
            </div><!-- End post list item -->

            <div class="col-lg-6">
              <article class="d-flex flex-column">


                <h2 class="title">
                  <a href="blog-details.html">Accusamus quaerat aliquam qui debitis facilis consequatur</a>
                </h2>

                <div class="meta-top">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">John Doe</a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2022-01-01">Jan 1, 2022</time></a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-details.html">12 Comments</a></li>
                  </ul>
                </div>

                <div class="content">
                  <p>
                    In itaque assumenda aliquam voluptatem qui temporibus iusto nisi quia. Autem vitae quas aperiam nesciunt mollitia tempora odio omnis. Ipsa odit sit ut amet necessitatibus. Quo ullam ut corrupti autem consequuntur totam dolorem.
                  </p>
                </div>

                <div class="read-more mt-auto align-self-end">
                  <a href="blog-details.html">Start</a>
                </div>

              </article>
            </div><!-- End post list item -->

            <div class="col-lg-6">
              <article class="d-flex flex-column">


                <h2 class="title">
                  <a href="blog-details.html">Distinctio provident quibusdam numquam aperiam aut</a>
                </h2>

                <div class="meta-top">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">John Doe</a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2022-01-01">Jan 1, 2022</time></a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-details.html">12 Comments</a></li>
                  </ul>
                </div>

                <div class="content">
                  <p>
                    Expedita et temporibus eligendi enim molestiae est architecto praesentium dolores. Illo laboriosam officiis quis. Labore officia quia sit voluptatem nisi est dignissimos totam. Et voluptate et consectetur voluptatem id dolor magni impedit. Omnis dolores sit.
                  </p>
                </div>

                <div class="read-more mt-auto align-self-end">
                  <a href="blog-details.html">Start</a>
                </div>

              </article>
            </div><!-- End post list item -->

          </div><!-- End blog posts list -->

          <div class="blog-pagination">
            <ul class="justify-content-center">
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
            </ul>
          </div><!-- End blog pagination -->

        </div>

        

      </div>

    </div>
  </section><!-- End Blog Section -->
