<h1>Editor</h1>
<button (click)="updateOptions()">Change Language</button>
<button (click)="code = ''; codeInput=''">Set Value To Empty String</button>
<button (click)="code = null; codeInput=null">Set Value To Null</button>
<button (click)="code = undefined; codeInput=undefined">Set Value To undefined</button>
<button (click)="showMultiple = !showMultiple">{{showMultiple ? 'Hide' : 'Show'}} Multiple Editor</button>

<div >
    <ngx-monaco-editor  [options]="options" [(ngModel)]="code" (onInit)="onInit($event)"></ngx-monaco-editor>
</div>

<ngx-monaco-editor *ngIf="showMultiple" [options]="options" [(ngModel)]="code"></ngx-monaco-editor>

<pre>{{code | json}}</pre>




<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        
      <div class="row g-5">
        
       

        <div class="col-lg-12">
            
            

            
           
          <div class="row gy-4 posts-list">
            
            
            <div class="add-cases-form" [formGroup]="codeId">
              <mat-form-field appearance="fill">
                <input matInput
                       formControlName="code"
                       placeholder="Enter Code">
            </mat-form-field>
</div>
          
            <div class="form-row org-desc-parent-margin" >
              <button mat-raised-button (click)="onSubmit()" style="background-color: purple; color: white;">Join</button>
            </div>

            <div class="col-lg-6" *ngFor="let assig of myJoinedAssingments">
              <article class="d-flex flex-column">


                <h2 class="title">
                  <a href="blog-details.html"> {{assig.codingAssesmentId}}  </a>
                </h2>

                <div class="meta-top">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">John Doe</a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2022-01-01">Jan 1, 2022</time></a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-details.html">12 Comments</a></li>
                  </ul>
                </div>

                <div class="content">
                  <p>
                    Similique neque nam consequuntur ad non maxime aliquam quas. Quibusdam animi praesentium. Aliquam et laboriosam eius aut nostrum quidem aliquid dicta.
                  </p>
                </div>

                <div class="read-more mt-auto align-self-end">
                  <a href="blog-details.html">Start</a>
                </div>

              </article>
            </div><!-- End post list item -->
            

            
          

          
          
            
      

          </div><!-- End blog posts list -->

          <div class="blog-pagination">
            <ul class="justify-content-center">
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
            </ul>
          </div><!-- End blog pagination -->

        </div>

        

      </div>

    </div>
  </section><!-- End Blog Section -->
