p {
    font-family: Lato;
  }
  
  .primary-container {
    margin: 5px;
    margin-bottom: 15px;
  }
  
  .primary-container mat-form-field {
    margin-right: 10px;
  }
  
  .address-container {
    margin-bottom: 15px;
    padding: 5px;
  }
  
  .address-container div mat-form-field {
    margin-right: 10px;
  }
  
  .address-container div {
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .pre-code {
    margin-top: 25px;
  }

  mat-form-field.fill-container,
  .mat-form-field.fill-container .mat-form-field-infix,
  .mat-form-field.fill-container .mat-form-field-flex,
  .mat-form-field.fill-container .mat-form-field-wrapper {
    height: 100%;
    width: 100%;
  }
  
  .mat-form-field.fill-container textarea {
    height: calc(100% - 25px);
  }

  mat-form-field {
    width: 40%;
    margin-right: 8%;
  }