<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">

    <div class="row g-5">

      <div class="col-lg-12">




        <h3>Create a Test:</h3>

        <div class="add-cases-form" [formGroup]="above">
          <mat-form-field appearance="fill">
            <input matInput formControlName="title" placeholder="Lesson title">
          </mat-form-field>
        </div>




        <mat-form-field appearance="fill">
          <mat-label>Submission duration</mat-label>
          <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Start date">
            <input matEndDate formControlName="end" placeholder="End date">
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>

          <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
          <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
        </mat-form-field>





        <angular-editor [placeholder]="'Enter text here...'" [config]="config"
          [(ngModel)]="description"></angular-editor>

        <div class="border border-dark" style="margin: 20px;">
          <div [innerHTML]="description"></div>
        </div>

        <div class="add-cases-form" [formGroup]="form">
          <ng-container formArrayName="cases">
            <ng-container *ngFor="let lessonForm of $any(cases).controls; let i = index">
              <div class="lesson-form-row" [formGroup]="lessonForm">
                <mat-form-field appearance="fill">
                  <textarea matInput formControlName="input" placeholder="Input Case"></textarea>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <textarea matInput formControlName="output" placeholder="Expected Output"></textarea>
                </mat-form-field>
                <mat-icon class="delete-btn" (click)="deleteLesson(i)">
                  delete_forever</mat-icon>
              </div>
            </ng-container>
          </ng-container>

          <button mat-mini-fab (click)="addLesson()">
            <mat-icon class="add-course-btn">add</mat-icon>
          </button>

        </div>




      </div>

      <div class="form-row org-desc-parent-margin">
        <button mat-raised-button (click)="onSubmit()" style="background-color: purple; color: white;">Create</button>
      </div>

    </div>

  </div>

</section><!-- End Blog Section -->