<main id="main">



  <!-- ======= Blog Details Section ======= -->
  <section id="blog" class="blog">
    <div class="container">

      <div class="row g-5">

        <div class="col-lg-12">



          <div class="comments">

            <h4 class="comments-count">8 Comments</h4>



            <div class="reply-form">

              <h4>Create class</h4>
              <p>Cant be changed </p>
              <form action="">
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input name="name" type="text" class="form-control" placeholder="Class">
                  </div>
                  <div class="col-md-6 form-group">
                    <input name="email" type="text" class="form-control" placeholder="Section">
                  </div>
                </div>
                <div class="row">
                  <div class="col form-group">
                    <input name="website" type="text" class="form-control" placeholder="Subject">
                  </div>
                </div>
                <div class="row">
                  <div class="col form-group">
                    <textarea name="comment" class="form-control" placeholder="Room"></textarea>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Create Classroom</button>

              </form>

            </div>

          </div><!-- End blog comments -->

        </div>


      </div>

    </div>
  </section><!-- End Blog Details Section -->

</main><!-- End #main -->