<main >

  <!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">
      <section
        class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center"
      >
        <h1>.xphyrus</h1>
        <h2 class="mt-5">Microservices based Online Assesment Platform</h2>
        <a class="btn mb-5"  href="/account/login">Login</a>
        <a class="btn mt-6" href="/account/register">Sign Up</a>
        
        <div class="credits">
          
       
        </div>
      </section>
    </div>
  </section>
</main>
<!-- End #main -->
